#we {
  overflow: auto;
}
#we .person {
  width: 3.702%;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 65px;
}
#we .person p {
  font-size: 55%;
  margin: 0;
  position: absolute;
  top: 100%;
  margin-top: -60px;
  left: 0;
  width: 100%;
  color: #3d3d3d;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 999;
}
@media (max-width: 1240px) {
  #we .person p {
    font-size: 60%;
  }
}
@media (max-width: 1110px) {
  #we .person p {
    font-size: 50%;
  }
}
@media (max-width: 985px) {
  #we .person p {
    font-size: 45%;
  }
}
#we .person p span {
  color: #27ae60;
  font-weight: bold;
}
#we .person img {
  width: 100%;
  height: auto;
  display: block;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
#we .person:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
#we .person:hover p {
  opacity: 1;
}
#achievement {
  margin-top: 10px;
}
#achievement .ach-row {
  overflow: auto;
}
#achievement .ach-row .ach-descr,
#achievement .ach-row .ach-photo {
  float: left;
  width: 50%;
}
#achievement .ach-row .ach-descr h2 {
  font-size: 170%;
  text-align: center;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1600px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 160%;
    margin-top: 15px;
  }
}
@media (max-width: 1366px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 150%;
  }
}
@media (max-width: 1220px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 130%;
    margin-top: 20px;
  }
}
@media (max-width: 1000px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 120%;
  }
}
@media (max-width: 980px) {
  #achievement .ach-row .ach-descr h2 {
    margin-top: 15px;
  }
}
@media (max-width: 900px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 115%;
  }
}
@media (max-width: 850px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 105%;
  }
}
@media (max-width: 820px) {
  #achievement .ach-row .ach-descr h2 {
    font-size: 100%;
  }
}
#achievement .ach-row .ach-descr p {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 120%;
  text-align: justify;
  text-indent: 40px;
}
@media (max-width: 1600px) {
  #achievement .ach-row .ach-descr p {
    font-size: 115%;
  }
}
@media (max-width: 1420px) {
  #achievement .ach-row .ach-descr p {
    font-size: 100%;
  }
}
@media (max-width: 1366px) {
  #achievement .ach-row .ach-descr p {
    font-size: 100%;
    line-height: 1.45;
  }
}
@media (max-width: 1220px) {
  #achievement .ach-row .ach-descr p {
    font-size: 100%;
  }
}
@media (max-width: 1160px) {
  #achievement .ach-row .ach-descr p {
    font-size: 95%;
    margin-top: 5px;
  }
}
@media (max-width: 1070px) {
  #achievement .ach-row .ach-descr p {
    font-size: 90%;
  }
}
@media (max-width: 980px) {
  #achievement .ach-row .ach-descr p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 85%;
  }
}
@media (max-width: 930px) {
  #achievement .ach-row .ach-descr p {
    font-size: 80%;
  }
}
@media (max-width: 850px) {
  #achievement .ach-row .ach-descr p {
    font-size: 75%;
  }
}
@media (max-width: 820px) {
  #achievement .ach-row .ach-descr p {
    font-size: 70%;
  }
}
#achievement .ach-row .ach-descr a {
  color: white;
  border-bottom: 1px dashed white;
}
#achievement .ach-row .ach-photo {
  position: relative;
}
#achievement .ach-row .ach-photo img {
  display: block;
  width: 100%;
  height: auto;
}
#achievement .ach-row.ach-black {
  background-color: #3d3d3d;
}
#achievement .ach-row.ach-black .ach-photo:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 30px solid #3d3d3d;
  border-right-color: #3d3d3d;
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -25px;
}
#achievement .ach-row.ach-green {
  background-color: #27ae60;
}
#achievement .ach-row.ach-green .ach-photo:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 30px solid #27ae60;
  border-left-color: #27ae60;
  position: absolute;
  top: 50%;
  right: -5px;
  margin-top: -25px;
}
#philosophy {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  background-color: white;
}
#philosophy .phil-text,
#philosophy .phil-photo {
  float: left;
  width: 50%;
}
@media (max-width: 980px) {
  #philosophy .phil-text,
  #philosophy .phil-photo {
    width: 100%;
  }
}
#philosophy .phil-text {
  position: relative;
}
#philosophy .phil-text h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  color: #2c3e50;
  font-size: 200%;
}
@media (max-width: 1600px) {
  #philosophy .phil-text h2 {
    font-size: 180%;
  }
}
@media (max-width: 1450px) {
  #philosophy .phil-text h2 {
    font-size: 170%;
    margin-top: 15px;
  }
}
@media (max-width: 1366px) {
  #philosophy .phil-text h2 {
    font-size: 160%;
  }
}
@media (max-width: 1186px) {
  #philosophy .phil-text h2 {
    font-size: 140%;
  }
}
@media (max-width: 980px) {
  #philosophy .phil-text h2 {
    font-size: 170%;
  }
}
@media (max-width: 980px) {
  #philosophy .phil-text .phil-slider {
    padding-bottom: 10px;
  }
}
#philosophy .phil-text .phil-slider .item p {
  margin: 10px 35px;
  text-indent: 40px;
  text-align: justify;
  color: #2c3e50;
  font-size: 120%;
}
#philosophy .phil-text .phil-slider .item p:nth-child(odd) {
  color: #27ae60;
}
#philosophy .phil-text .phil-slider .item p:last-of-type {
  margin-bottom: 30px;
}
@media (max-width: 1186px) {
  #philosophy .phil-text .phil-slider .item p:last-of-type {
    margin-bottom: 20px;
  }
}
@media (max-width: 980px) {
  #philosophy .phil-text .phil-slider .item p:last-of-type {
    margin-bottom: 40px;
  }
}
@media (max-width: 1600px) {
  #philosophy .phil-text .phil-slider .item p {
    font-size: 110%;
  }
}
@media (max-width: 1500px) {
  #philosophy .phil-text .phil-slider .item p {
    font-size: 105%;
  }
}
@media (max-width: 1450px) {
  #philosophy .phil-text .phil-slider .item p {
    font-size: 100%;
  }
}
@media (max-width: 1366px) {
  #philosophy .phil-text .phil-slider .item p {
    margin: 10px 25px;
    font-size: 95%;
  }
}
@media (max-width: 1186px) {
  #philosophy .phil-text .phil-slider .item p {
    font-size: 85%;
    text-indent: 20px;
  }
}
@media (max-width: 1100px) {
  #philosophy .phil-text .phil-slider .item p {
    margin: 10px 20px;
    font-size: 80%;
  }
}
@media (max-width: 980px) {
  #philosophy .phil-text .phil-slider .item p {
    margin: 10px 35px;
    font-size: 105%;
  }
}
#philosophy .phil-text .phil-slider .owl-nav {
  display: none;
}
#philosophy .phil-text .phil-slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}
@media (max-width: 1100px) {
  #philosophy .phil-text .phil-slider .owl-dots {
    bottom: 0px;
  }
}
@media (max-width: 980px) {
  #philosophy .phil-text .phil-slider .owl-dots {
    bottom: 15px;
  }
}
#philosophy .phil-text .phil-slider .owl-dots .owl-dot {
  background-color: rgba(44, 62, 80, 0.3);
  font-size: 10px;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}
#philosophy .phil-text .phil-slider .owl-dots .owl-dot.active {
  background-color: #2c3e50 !important;
}
@media (max-width: 980px) {
  #philosophy .phil-photo {
    display: none;
  }
}
#philosophy .phil-photo img {
  width: 100%;
  display: block;
  height: auto;
}
#partners {
  background-color: white;
}
#partners .partners-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
#partners .partners-container a{
  display: inline-block;
}
#partners .partners-container h2 {
  margin-bottom: 10px;
  font-size: 2em;
}
#partners .partners-container .partner-icon {
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 980px) {
  #partners .partners-container .partner-icon {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 870px) {
  #partners .partners-container .partner-icon {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media (max-width: 790px) {
  #partners .partners-container .partner-icon {
    margin-left: 8px;
    margin-right: 8px;
  }
}
#partners .partners-container .partner-icon img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#contacts {
  padding-bottom: 20px;
}
#contacts #map {
  border-top: 5px solid #27ae60;
  border-bottom: 5px solid #27ae60;
  background-image: url('../img/ourmap.jpg');
  background-position: center center;
  background-size: 100%;
  height: 400px;
}
@media (max-width: 1670px) {
  #contacts #map {
    background-size: initial;
  }
}
@media (max-width: 1025px) {
  #contacts #map {
    height: 300px;
  }
}
#contacts .contacts-info {
  overflow: auto;
  padding-top: 20px;
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  #contacts .contacts-info {
    width: 100%;
  }
}
#contacts .contacts-info .contact-row {
  float: left;
  width: 320px;
  text-align: center;
}
@media (max-width: 980px) {
  #contacts .contacts-info .contact-row {
    width: 33.333%;
  }
}
#contacts .contacts-info .contact-row .contact-icon,
#contacts .contacts-info .contact-row .contact-text {
  float: left;
}
#contacts .contacts-info .contact-row .contact-icon {
  width: 48px;
  height: 72px;
  color: #27ae60;
  position: relative;
  margin-right: 15px;
  margin-left: 55px;
}
@media (max-width: 1200px) {
  #contacts .contacts-info .contact-row .contact-icon {
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {
  #contacts .contacts-info .contact-row .contact-icon {
    margin-left: 20px;
  }
}
@media (max-width: 980px) {
  #contacts .contacts-info .contact-row .contact-icon {
    margin-left: 10px;
    margin-right: 10px !important;
  }
}
#contacts .contacts-info .contact-row .contact-icon:before {
  font-family: "shpp-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 300%;
}
#contacts .contacts-info .contact-row .contact-text {
  text-align: left;
  color: #333333;
  padding-top: 13px;
}
@media (max-width: 980px) {
  #contacts .contacts-info .contact-row .contact-text {
    font-size: 85%;
  }
}
#contacts .contacts-info .contact-row .contact-text a {
  color: #27ae60;
}
