.readable {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}
.courses-common {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.courses-common:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid white;
  border-bottom-color: white;
  position: absolute;
  bottom: -25px;
  left: 47%;
  margin-top: 11px;
}
.courses-common p {
  margin-top: 20px;
  margin-bottom: 20px;

  color: #2c3e50;
}
.link{
  border-bottom: 1px dashed #2c3e50;
  text-decoration: none!important;
}

#adults-icon::before {
    content: "i";
}
#adults {
  padding: 30px 0;
}
#adults h2, #teens h2, #mentoring h2, #common h2, #after_graduation h2, #financial_issue h2,  #oth_technology h2, #faq h2, #ask h2{
  text-align: center;
  font-size: 1.7em;
}
#courses p {
  color: #333333;
  margin-top: 25px;
  margin-bottom: 25px;
}
#webdev h2, #oth_technology h2,  #teens h2, #mentoring h2, #common h2, #kids h2, #adults h2 {
  text-align: center;
  font-size: 1.7em;
}
#kids {
  padding: 2.5% 0;
}

#mentor-icon:before{
    content: "e";
}
#mentoring {
  padding-top: 0px;
  text-align: center;
  overflow: auto;
}
@media (max-width: 1024px) {
  #mentoring {
    padding-top: 0px;
  }
}
#mentoring p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #333333;
}
#mentoring .course-part {
  background-color: #27ae60;
  width: 50%;
  float: left;
  min-height: 240px;
  text-align: left;
  margin-bottom: 25px;
}
@media (max-width: 980px) {
  #mentoring .course-part {
    min-height: 320px;
  }
}
@media (max-width: 800px) {
  #mentoring .course-part {
    min-height: 400px;
  }
}
#mentoring .course-part h3,
#mentoring .course-part p {
  margin: 20px;
  color: white;
}
#mentoring .course-part h3 {
  font-size: 195%;
  text-align: center;
}
@media (max-width: 980px) {
  #mentoring .course-part h3 {
    font-size: 175%;
  }
}
#mentoring .course-part:last-child {
  background-color: #3d3d3d;
}

#after_graduation p {

  color: #333333;
  margin-top: 25px;
  margin-bottom: 25px;
}
#financial_issue p {

  color: #333333;
  margin-top: 25px;
  margin-bottom: 25px;
}

.course-logo {
  width: 108px;
  position: relative;
  text-align: center;
  font-size: 95%;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (max-width: 1366px) {
   .course-logo:nth-child(8) {
    clear: left;
  }
}

 .course-logo span {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  font-size: 95%;
  opacity: 0;
  color: #27ae60;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 999;
}
 .course-logo:hover span {
  opacity: 1;
}

#oth_technology{
  padding-top: 50px;
}

#oth_technology p {
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;

}

.course-logos {
  text-align: center;
}

@media (max-width: 1366px) {
  .course-logo {
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 25px;
  }
  .course-logo:nth-child(8) {
    clear: left;
  }
}


#teens {
  background-color: white;

  padding: 20px 120px 30px 120px;
  position: relative;
}
@media (max-width: 980px) {
  #teens {
    padding: 25px;
  }
}
#teens p {
  color: #2c3e50;

}
#teens:before {
  content: '';
  position: absolute;
  width: 100%;
  top: -20px;
  left: 0;
  height: 30px;
  background: linear-gradient(-135deg, transparent 75%, #ffffff 75%) 0 50%, linear-gradient(135deg, transparent 75%, #ffffff 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 10px 10px, 10px 10px;
}
#teens:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -19px;
  left: 0;
  height: 30px;
  background: linear-gradient(-45deg, transparent 75%, #ffffff 75%) 0 50%, linear-gradient(45deg, transparent 75%, #ffffff 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 10px 10px, 10px 10px;
}
#teens .leftK,
#teens .rightK {
  position: absolute;
  top: 50%;
  margin-top: -76px;
  width: 73px;
  height: 152px;
  background-image: url('../img/forteens.png');
  background-repeat: no-repeat;
}
#teens .leftK {
  left: 55px;
  background-position: 0 -10px;
}
#teens .rightK {
  right: 55px;
  background-position: -100px -10px;
}

#faq {
  margin-top: 30px;
}
#faq .question_block {

  color: #333333;
  margin-bottom: 15px;
}

#faq .question_list {
    margin-top: 25px;
}

#faq .open  {
    margin-bottom: 25px;
}

#faq .question {
    font-weight: bolder;
    font-style: italic !important;
    cursor: pointer;
}

#faq .question_block .question img {
    width: 15px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

#faq .question_block.open .question img {
    margin-top: -5px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#faq .answer  {
    color: #333333;
    margin-top: 10px;
    margin-left: 20px;
}

#faq ul  {
    padding-left: 50px;
}

#ask {
  text-align: center;
  padding-top: 30px;
}
#ask form h2 {
  margin-bottom: 30px;
}
#ask form input, #ask form textarea{
  border: 2px solid rgba(0, 0, 0, 0.08);
  font-size: 100%;
  color: #2c3e50;
  padding: 5px 10px;
  width: 300px;
  vertical-align: text-top;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCCCCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCCCCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCCCCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCCCCC;
}
#ask form textarea{
  height: 100px;
  resize: none;
  font-family: "Open Sans", sans-serif;
}
#ask form input{
  height: 30px;
  margin-bottom: 20px;
}
#ask form label {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #333333;
}
#ask form label[for=letter] {
  vertical-align: top;
}
#ask form label span.important {
  color: #e74c3c;
}
#ask form input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  font-size: 24px;
  margin: 0 auto;
  background-color: #27ae60;
  cursor: pointer;
  margin-bottom: 60px;
  border: 0;
  color: white;
  margin-top: 50px;
}
#ask form input[type=submit]:hover {
  background-color: #2cc36b;
}
.notice{
  font-size: 220%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: none;
}

#courses .flaticon-student:before, .flaticon-technology:before {
  font-size: 37px;
  margin-left: 13px;
}
#courses a{
  text-decoration: underline;
}
#courses ol{
  padding: 0.5em 0 0 5em;
  max-width: 85%;
}
#courses li{
  margin-bottom: 10px;
}
#courses a.link{
  text-decoration: none;
}
@media all and (max-width: 1000px){
  .green-submenu-item{
    width: calc(100%/5);
  }
}
.anketa-link {
  background-color: #27ae60;
  color: white;
  padding: 0.3rem 1.2rem;
  margin: 0 auto;
  display: block;
  text-decoration: none!important;
  font-weight: normal;
  width: 15%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.anketa-link:hover {
  font-weight: bold;
  transition: all 0.2s;
}

@media (max-width: 980px) {
  #teens .leftK , #teens .rightK {
    display: none;
  }
  .anketa-link {
    width: 25%;
  }
}
