/*
Flaticon icon font: Flaticon
Creation date: 07/01/2018 15:29
*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[id^="flaticon-"]:before, [id*=" flaticon-"]:before,
[id^="flaticon-"]:after, [id*=" flaticon-"]:after {
    font-family: Flaticon !important;
    font-size: 20px;
    font-style: normal;
    margin-left: 0;
}

#flaticon-student:before {
    font-family: Flaticon !important;
    content: "\f100";
}
#flaticon-technology:before {
    font-family: Flaticon !important;
    content: "\f102";
}
#flaticon-smiling-baby:before {
    font-family: Flaticon !important;
    content: "\f103";
}
#flaticon-transport:before {
    font-family: Flaticon !important;
    content: "\f101";
}