/*
 * Title: Pure CSS3 Loading
 * Author: Clear. But modified
 * Version: 1.0.0
 * Create: 2015-06-05
 * Update: 2015-06-08
 */
 /* CSS Reset */


.spinner{
	position: fixed;
    width: 100%;
    height: 100%;
	background:rgba(255,255,255,.9);
	z-index: 999;
}

/* Clear Loading */

.clear-loading {
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	z-index: 1000;

}

/* Loading Effect One */

.loading-effect-1 {
	width: 100px;
	height: 100px;
}

.loading-effect-1 span {
	display: block;
	border-radius: 50%;
	border: 4px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.loading-effect-1 span:first-child {
	width: 100%;
	height: 100%;
	border-color: rgba(25,190,155,1);
	border-left-color: transparent;
	top: 0;
	left: 0;
	-webkit-animation: effect-1-1 4s infinite linear;
	   -moz-animation: effect-1-1 4s infinite linear;
		 -o-animation: effect-1-1 4s infinite linear;
			animation: effect-1-1 4s infinite linear;
}

.loading-effect-1 span:nth-child(2) {
	width: 75%;
	height: 75%;
	border-color: rgba(230,75,60,1);
	border-right-color: transparent;
	top: 12.5%;
	left: 12.5%;
	-webkit-animation: effect-1-2 3s infinite linear;
	   -moz-animation: effect-1-2 3s infinite linear;
		 -o-animation: effect-1-2 3s infinite linear;
			animation: effect-1-2 3s infinite linear;
}

.loading-effect-1 span:last-child {
	width: 50%;
	height: 50%;
	border-color: rgba(50,70,95,1);
	border-bottom-color: transparent;
	top: 25%;
	left: 25%;
	-webkit-animation: effect-1-1 2s infinite linear;
	   -moz-animation: effect-1-1 2s infinite linear;
		 -o-animation: effect-1-1 2s infinite linear;
			animation: effect-1-1 2s infinite linear;
}

@-webkit-keyframes effect-1-1 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes effect-1-1 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes effect-1-2 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}

@keyframes effect-1-2 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}

/* Loading Effect Two */

.loading-effect-2 {
	width: 100px;
	height: 100px;
}

.loading-effect-2 > span,
.loading-effect-2 > span:before,
.loading-effect-2 > span:after {
	content: "";
	display: block;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);

}

.loading-effect-2 > span {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-left-color: transparent;
	-webkit-animation: effect-2 2s infinite linear;
	   -moz-animation: effect-2 2s infinite linear;
		 -o-animation: effect-2 2s infinite linear;
			animation: effect-2 2s infinite linear;
}

.loading-effect-2 > span:before {
	width: 75%;
	height: 75%;
	border-right-color: transparent;
}

.loading-effect-2 > span:after {
	width: 50%;
	height: 50%;
	border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes effect-2 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/* Loading Effect Three */

.loading-effect-3 {
	width: 100px;
	height: 100px;
}

.loading-effect-3 div {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 50%;
}

.loading-effect-3 div > span{
	background: #fff;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	top: -5px;
	left: 50%;
	-webikt-transform-origin: 0 55px;
	   -moz-transform-origin: 0 55px;
		 -o-transform-origin: 0 55px;
			transform-origin: 0 55px;
	-webkit-animation: effect-3 2s infinite linear;
	   -moz-animation: effect-3 2s infinite linear;
		 -o-animation: effect-3 2s infinite linear;
			animation: effect-3 2s infinite linear;
}

@-webkit-keyframes effect-3 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes effect-3 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/* Loading Effect Four */

.loading-effect-4 {
	width: 100px;
	height: 100px;
}

.loading-effect-4 > div {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 50%;
}

.loading-effect-4 span {
	background: #fff;
	display: block;
	width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	   -moz-transform: translate(-50%,0);
		 -o-transform: translate(-50%,0);
			transform: translate(-50%,0);
	-webikt-transform-origin: 0 49px;
	   -moz-transform-origin: 0 49px;
		 -o-transform-origin: 0 49px;
			transform-origin: 0 49px;

}

.loading-effect-4 span:first-child {
	background: rgba(25,190,155,1);
	-webkit-animation: effect-4-1 1.5s infinite linear;
	   -moz-animation: effect-4-1 1.5s infinite linear;
		 -o-animation: effect-4-1 1.5s infinite linear;
			animation: effect-4-1 1.5s infinite linear;

}

.loading-effect-4 span:nth-child(2) {
	background: rgba(255,255,255,1);
	-webkit-animation: effect-4-1 2s infinite linear;
	   -moz-animation: effect-4-1 2s infinite linear;
		 -o-animation: effect-4-1 2s infinite linear;
			animation: effect-4-1 2s infinite linear;

}

.loading-effect-4 span:nth-child(3) {
	background: rgba(230,75,60,1);
	-webkit-animation: effect-4-1 2.5s infinite linear;
	   -moz-animation: effect-4-1 2.5s infinite linear;
		 -o-animation: effect-4-1 2.5s infinite linear;
			animation: effect-4-1 2.5s infinite linear;

}

.loading-effect-4 span:nth-child(4) {
	background: rgba(50,70,95,1);
	-webkit-animation: effect-4-1 3s infinite linear;
	   -moz-animation: effect-4-1 3s infinite linear;
		 -o-animation: effect-4-1 3s infinite linear;
			animation: effect-4-1 3s infinite linear;

}

@-webkit-keyframes effect-4-1 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes effect-4-1 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
