@font-face {
  font-family: 'AleksandraC';
  src: local('AleksandraC'), local('AleksandraC Regular'), url('../fonts/aleksandrac_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shpp-font";
  src: url("../fonts/shpp-font.eot");
  src: url("../fonts/shpp-font.eot?#iefix") format("embedded-opentype"), url("../fonts/shpp-font.woff") format("woff"), url("../fonts/shpp-font.ttf") format("truetype"), url("../fonts/shpp-font.svg#shpp-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 100%;
  min-width: 770px;
}
html, body, a, input, button, span, p, h1, h2, h3, h4, h5, h6, section, header, footer, div, textarea, ul, li {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'AleksandraC', 'Open Sans', sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #27ae60;
}
noscript {
  text-align: center;
  padding: 20px;
}
.nobr {
  white-space: nowrap;
  display: inline;
}
.views {
  min-height: 100%;
  height: auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1020px) {
  .container {
    width: 95%;
  }
  header .container {
    width: 92%;
  }
}
@media (max-width: 900px) {
  header .container {
    width: 90%;
  }
}
/*icons*/

#achi:before {
  content: "d";
}
#phil:before {
  content: "i";
}
#par:before {
  content: "h";
}
#con:before {
  content: "g";
}
#hard:before {
  content: "c";
}
#soft:before {
  content: "a";
}
#plan:before {
  content: "b";
}
#teach:before {
  content: "e";
}
#lib:before {
  content: "f";
}
#oth-icon:before {
  content: "j";
}
#phone:before {
  content: "k";
}
#mail:before {
  content: "l";
}
/*scroll to top*/

#scrollup {
  width: 50px;
  height: 50px;
  background-image: url("../img/icon_sprite.svg");
  background-repeat: no-repeat;
  background-position: -268px 0px;
  background-size: 639%;
  cursor: pointer;
  opacity: 0.5;
  position: fixed;
  right: 2%;
  z-index: 999;
  bottom: 50px;
  display: none;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#scrollup:hover {
  opacity: 1;
}
/*HEADER*/
header {
  width: 100%;
  height: 90px;
  position: relative;
  background-color: white;
  border-bottom: 5px solid rgb(39, 174, 96);
}
header.nogrborder {
  border-bottom: none;
}
@media (max-width: 980px) {
  header {
    height: 80px;
  }
}
header .langs {
  font-size: 0.7em;
  background: white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}
@media (max-width: 980px) {
  header .langs {
    font-size: 0.6em;
    top: 9px;
    right: 5px;
  }
}
header .lang_cont {
  padding: 3px 6px;
  cursor: pointer;
}
header .active_lang {
  border-bottom: 1px dotted black;
}
header .logo {
  float: left;
  overflow: hidden;
}
header a {
  display: inline-block;
}
header .sh, header .plus {
  font-family: arial;
  font-size: 380%;
  font-weight: bold;
  line-height: 90px;
}
@media (max-width: 980px) {
  header .sh, header .plus {
    line-height: 80px;
  }
}
@media (max-width: 920px) {
  header .sh, header .plus {
    font-size: 340%;
  }
}
header .sh {
  color: black;
}
header .plus {
  color: #27ae60;
}
header .main-menu {
  text-align: right;
  overflow: hidden;
}
header .main-menu nav {
  /*width: 100%;*/
  /*background: green;*/
  height: 80px;
  overflow: hidden;
}
header .main-menu a {
  margin-left: 1.6%;
  line-height: 80px;
  border-radius: 10px;
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 81%;
  white-space: nowrap;
}
header .main-menu a.active {
  font-weight: bold;
}
header .main-menu a:hover {
  color: #27ae60;
  font-weight: 700;
}
header .main-menu a#vk-link {
  color: rgb(41, 128, 185);
}
header .main-menu a#form-link {
  color: #27ae60;
}
@media (max-width: 1200px) {
  header .main-menu a {
    margin-left: 1.8%;
  }
}
@media (max-width: 1200px) {
  header .main-menu a {
    font-size: 75%;
  }
}
@media (max-width: 980px) {
  header .main-menu a {
    margin-left: 1.7%;
    font-size: 70%;
    line-height: 80px;
  }
}
@media (max-width: 920px) {
  header .main-menu a {
    margin-left: 1.5%;
    font-size: 65%;
  }
}
@media (max-width: 840px) {
  header .main-menu a {
    margin-left: 1.0%;
    font-size: 62%;
  }
}
/*submenu*/

.green-submenu {
  position: relative;
  text-align: center;
}
.green-submenu-bg {
  background-color: #27ae60;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  z-index: -1;

  background-image: url("../img/galaxyrefitstarboard.png");
  background-size: 100%;
  background-position: 0 53%;
  background-repeat: no-repeat;
}
@media (max-width: 760px) {
  .green-submenu {
    background-image: none;
  }
}
.green-submenu-overlay {
  position: absolute;
  width: 100%;
  height: 125px;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(39, 174, 96, 0.9);
  pointer-events: none;
  background-position-x: 0;
  background-repeat: repeat-x;
}

.green-submenu-item  a {
 text-decoration: none!important;
}
.green-submenu-item {
  display: inline-block;
  width: calc(40%/5);
  cursor: pointer;
  height: 125px;
}

.green-submenu-link i {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 20px 22px 0;
  position: relative;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.green-submenu-icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #fff;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -o-transition: -o-transform 0.2s, opacity 0.2s;
  -ms-transition: -ms-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.green-submenu-link .green-submenu-icon {
  color: white;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.green-submenu-link .green-submenu-icon:before {
  font-family: "shpp-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  width: 31px;
  speak: none;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 185%;
  color: white;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@media (min-device-width: 1024px) {
   .green-submenu-item:hover .green-submenu-icon{
    background-color: white;
  }
  .green-submenu-item:hover .green-submenu-icon:after{
    opacity: 1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
  }
  .green-submenu-item:hover .green-submenu-link .green-submenu-icon {
    color: #27ae60;
  }
  .green-submenu-item:hover .green-submenu-link .green-submenu-icon:before {
    color: #27ae60;
  }
}
.green-submenu-link__description {
  color: white;
}
@media (max-width: 900px) {
  .green-submenu-item  span {
    font-size: 95%;
  }
}
/*FOOTER*/

footer {
  background-color: #3d3d3d;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url("../img/galaxyrefitstarboard.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 40% 48%;
  position: relative;
  overflow: auto;
  visibility: hidden;
}
footer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-position-x: 0;
  background: rgba(61, 61, 61, 0.95) repeat-x;
}
footer .container {
  z-index: 10;
  overflow: hidden;
  position: relative;
}
.footer-menu {
  width: 37%;
  vertical-align: top;
  display: inline-block;
}
@media (max-width: 980px) {
  .footer-menu {
    width: 60%;
  }
}
.footer-menu ul {
  text-align: right;
}
.footer-menu ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  width: calc(50% - 3px);
  text-align: left;
  position: relative;
  text-transform: uppercase;
  font-size: 91%;
}
@media (max-width: 1366px) {
   .footer-menu ul li {
    font-size: 85%;
  }
}
@media (max-width: 980px) {
   .footer-menu ul li {
    font-size: 80%;
  }
}
.footer-menu ul li a {
  color: white;
  font-weight: bold;
  -webkit-transition-property: color;
  -o-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: "AleksandraC", sans-serif;
}
.footer-menu ul li a:hover {
  color: #27ae60;
}
.footer-menu ul li .submenu-list li {
  text-align: left;
  margin: 0;
  display: block;
  line-height: 2;
  font-size: 95%;
  width: 100%;
  text-transform: none;
}
.footer-menu ul li .submenu-list li a {
  font-weight: normal;
  font-size: 110%;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1200px) {
  .footer-menu ul li .submenu-list li {
    font-size: 90%;
  }
}
@media (max-width: 980px) {
  .footer-menu ul li .submenu-list li {
    font-size: 80%;
    margin-bottom: 5px;
  }
}
.footer-sm-menu {
  width: 14%;
  margin-left: 12%;
  text-align: right;
  padding-top: 2px;
  display: inline-block;
}

.footer-sm-menu ul li {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 980px) {
  .footer-sm-menu ul li {
    display: inline-block;
    width: 30%;
  }
}
@media (max-width: 980px) {
  .footer-sm-menu {
    position: absolute;
    left: 40%;
    bottom: -25px;
    width: 60%;
  }
}
footer .mailUs {
  float: left;
  overflow: hidden;
  clear: left;
}
footer .mailUs p {
  color: white;
  cursor: default;
}
footer .mailUs p a {
  border-bottom: 1px dashed white;
  cursor: default;
  color: white;
}
footer .mailUs p span {
  margin-left: 10px;
  opacity: 0;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
footer .mailUs p:hover span {
  opacity: 1;
}
footer .mailUs textarea {
  resize: none;
  color: #333;
  font-size: 120%;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  padding: 7px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid white;
}
@media (max-width: 1600px) {
  footer .mailUs textarea {
    margin-bottom: 15px;
  }
}
@media (max-width: 1366px) {
  footer .mailUs textarea {
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  footer .mailUs textarea {
    width: 280px;
  }
  footer .mailUs p {
    font-size: 14px;
    margin-bottom: 1px;
  }
}
@media (max-width: 1024px) {
  footer .mailUs textarea {
    width: 260px;
  }
}
@media (max-width: 980px) {
  footer .mailUs textarea {
    width: 240px;
  }
  footer .mailUs p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
@media (max-width: 870px) {
  footer .mailUs textarea {
    width: 220px;
  }
}
@media (max-width: 800px) {
  footer .mailUs p {
    font-size: 13px;
  }
}
#questBut {
  border: 2px solid rgb(100, 100, 100);
  padding: 7px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 105%;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#questBut:hover {
  background-color: rgb(69, 69, 69);
}
.thanksForLetter {
  color: white;
  display: none;
  margin: 83px 0;
}
@media (max-width: 1300px) {
  .thanksForLetter {
    margin: 76px 0;
  }
}
@media (max-width: 1000px) {
  .thanksForLetter {
    margin: 93px 0;
  }
}
.form {
  width: 740px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px 30px;
}
.first-form {
  margin-top: 45px;
}
.form form {
  padding-top: 20px;
}
.form input[type=text], .form input[type=tel], .form input[type=email], .form input[type=number], .form input[type=date] {
  border: 2px solid rgba(0, 0, 0, 0.08);
  font-size: 18px;
  color: #2c3e50;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  width: 98%;
  margin-bottom: 20px;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form input[type=email] {
  display: inline !important;
}
.form form label {
  text-align: left;
  color: #2c3e50;
}
.form form label span.important {
  color: #e74c3c;
}
.form form input[type=submit] {
  height: 50px;
  font-size: 22px;
  background-color: #27ae60;
  cursor: pointer;
  border: 0;
  color: white;
  margin: 40px auto 20px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}
.form form input[type=submit].disabled {
  background-color: #b8b8b8;
  cursor: not-allowed;
}
.form form input[type=submit].disabled:hover {
  cursor: not-allowed;
  background-color: #b8b8b8;
}
.form button {
  background-color: #27ae60;
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 7px 12px;
}
.form button:hover {
  background-color: #2cc36b;
}
.check-school-form button {
  margin-bottom: 10px;
}
.form form input[type=submit]:hover {
  background-color: #2cc36b;
}
.check-school-form button:first-of-type {
  margin-right: 8px;
}
.form p {
  color: #2c3e50;
}
.check-school-form p {
  color: #2c3e50;
  margin-top: 10px;
}
.check-school-form p:last-of-type {
  margin-bottom: 25px;
}
.choose-course p {
  color: #2c3e50;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.choose-course h2 {
  -moz-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.choose-course {
  border: 2px dashed lavender;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.choose-course:hover {
  border: 2px dashed #27ae60;
  background-color: #27ae60;
}
.choose-course:hover p, .choose-course:hover h2 {
  color: white;
}
.choose-course:last-child {
  margin-bottom: 10px;
}
.info-input input[type=text], .info-input input[type=tel], .info-input input[type=email], .info-input input[type=number] {
  width: 200px;
  margin-right: 15px;
  display: inline-block;
}
.main-form input[name=gmail] {
  margin-bottom: 0 !important;
}
.info-input  a {
  color: #27ae60;
  border-bottom: 1px dashed #27ae60;
  position: relative;
}
.info-input a span {
  position: absolute;
  top: -3px;
  left: 100%;
  margin-left: 30px;
  width: 228px;
  color: white;
  border-bottom: none;
  background-color: #27ae60;
  padding: 2px 10px 2px 2px;
  opacity: 0;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.info-input a:hover span {
  opacity: 1;
}
.info-input a span:before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #27ae60;
  border-left-color: #27ae60;
}
.check {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px dashed lavender;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inline-label {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  line-height: 2;
  position: relative;
}
.inline-span {
  position: absolute;
  top: -1px;
  left: 22px;
  z-index: 0;
}
.check .info-input {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
}
.price-form form {
  padding-top: 10px;
  width: 340px;
  margin: 0 auto;
}
.price-form label {
  cursor: pointer;
  line-height: 2;
}
.price-form h3 {
  text-align: center;
  font-size: 20px;
}
.last-form p {
  margin-top: 10px;
}
.last-form a {
  border-bottom: 1px dashed #2c3e50;
}
.load-but {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.last-form {
  margin-bottom: 50px;
}
.course-form, .main-school-form {
  width: 530px;
}
.has-error {
  border: 2px solid rgb(231, 76, 60) !important;
}
.check.has-error, .over-zone.has-error {
  border: 2px dashed rgb(231, 76, 60) !important;
}
.webCamDiv {
  display: none;
  text-align: center;
}
#screenshot-canvas {
  width: 337px;
}
.zone {
  border: 2px dashed lavender;
  padding: 10px;
  margin: 20px 0;
}
.zone p {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 10px;
}
#fileinp {
  display: none;
}
.upload-container ul {
  list-style-type: none;
  text-align: center;
  color: #2c3e50;
}
.thnx {
  display: none;
}
input[type=text]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=email]:focus {
  border: 2px solid rgba(39, 174, 96, 0.5) !important;
}
.breadcrumbs {
  width: 740px;
  color: white;
  margin: 25px auto 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px 7px;
}
.breadcrumbs.small {
  width: 530px;
}
.breadcrumbs a {
  color: #2c3e50;
}
.breadcrumbs i {
  font-size: 18px;
  margin-right: 10px;
}
#screenshot-save {
  position: absolute;
  left: 113px;
  top: 20px;
}
.canvas-relative {
  position: relative;
}
/* --- camera css --- */

#camera_wrap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  margin: 25px auto;
  padding: 5px 20px 20px;
  width: 640px;
}
#camera_wrap .video-content {
  width: 640px;
  margin: 0 auto;
  position: relative;
}
#camera_wrap #video_wrapper {
  z-index: 1;
}
#camera_wrap h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 8px auto;
}
#camera_wrap #video-flash {
  display: block;
  z-index: 1;
}
#camera_wrap #video {
  display: none;
  z-index: 20;
  line-height: 0;
}
#camera_wrap #playerbox {
  /*background: black;*/
  position: relative;
}
#camera_wrap .playeroverlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  position: absolute;
}
#camera_wrap #joystick {
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  cursor: move;
  z-index: 1000;
  display: block;
  width: 110px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#camera_wrap #top_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#camera_wrap #bar {
  height: 100%;
  width: 150px;
  background-color: #27ae60;
}
#camera_wrap #bar_div {
  display: none;
  width: 150px;
  height: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 3px grey;
  border-radius: 2px;
  opacity: 0.7;
  position: relative;
  margin: 15px auto 0;
}
#camera_wrap #status_con_div {
  display: none;
  float: right;
}
#camera_wrap #status_con {
  text-align: right;
  margin-top: 20px;
}
#camera_wrap #video_wrapper {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}
#camera_wrap #btnControl {
  float: left;
  font-family: 'AleksandraC', 'Open Sans', sans-serif;
  background-color: #27ae60;
  cursor: pointer;
  color: white;
  outline: none;
  border: 0;
  font-size: 20px;
  text-align: center;
  display: none;
  width: 170px;
  height: 50px;
  margin-top: 20px;
}
#camera_wrap #btnControl:hover {
  background-color: #3bc274;
}
#camera_wrap #btnControl:active {
  background-color: #139a4c;
}
#camera_wrap .green {
  color: #27ae60;
}
#camera_wrap .red {
  color: red;
}
#camera_wrap .clear {
  clear: both;
}
.educationblock {
  margin-top: 20px;
}
#education {
  width: 60%;
  display: inline-block;
}
#educationyear {
  width: 35%;
  display: inline-block;
}
#portfolio, #about {
  border: 2px solid rgba(0, 0, 0, 0.08);
  font-size: 18px;
  color: #2c3e50;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  height: 90px;
  width: 98%;
  margin-bottom: 20px;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check .checklabel {
  padding-left: 21px;
}
select {
  height: 34px;
  background-color: white;
  border: 2px solid #ebebeb;
  border-radius: 2px;
  padding: 5px;
  font-size: 1rem;
  margin-top: 15px;
  margin-right: 15px;
}
#faqlink {
  color: #27ae60;
  border-bottom: dashed 1px;
}
#otherinterst {
  width: 80%;
  margin-left: 20px;
}
.portlabel {
  margin-top: 20px;
}
.onlinespan {
  background-color: #fff495;
  padding: 8px;
  position: relative;
  color: white;
  border-radius: 5px;
  width: 94%;
  cursor: default;
  font-size: 11px;
}
.form label, .form input[type=text], .form input[type=tel], .form input[type=email], .form input[type=number] {
  display: block;
}
#agreelabel.has-error {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px dashed rgb(231, 76, 60) !important;
}
#ownoption {
  display: inline-block;
  padding-left: 21px;
}
#otherinterst {
  margin: 0;
  display: inline-block;
  width: 65%;
}
label.inline-block {
  display: inline-block;;
}
.emailerror {
  background-color: #ff5722;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.emailerror i {
  vertical-align: top;
  display: inline-block;
  font-size: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  line-height: initial;
  text-align: center;
}
.emailerror p {
  color: #fff;
  display: inline-block;
  width: 83%;
  margin-left: 16px;
}
.yearpicker input[type=number] {
  width: 35.5%;
  display: inline-block;
}
.yearpicker select {
  height: 37px;
  margin-left: 15px;
}
.little {
  font-size: 0.7rem;
}
.file_upload {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 45px;
}
.file_upload .button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  height: 45px;
  color: white;
  font-size: 22px;
  width: 250px;
  margin: 0 auto;
  background-color: #27ae60;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  cursor: pointer;
}
.file_upload input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 45px;
  width: 100%;
}
.useful-links {
  display: inline-block;
  width: calc(30% - 6px);
  max-height: 190px;
  vertical-align: middle;
}
.useful-links ul li a {
  color: #fff;
  font-size: 100%;
  line-height: 2;
  font-family: "AleksandraC", sans-serif;
  text-transform: uppercase;
  -webkit-transition-property: color;
  -o-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.useful-links ul li i {
  color: #fff;
  font-size: 1.1rem;
  width: 1.1rem;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.useful-links ul li a:hover {
  color: #27ae60;
}
header .main-menu a .fa-vk {
  color: #3498db;
  font-size: 150%;
  border: 1px solid;
  border-radius: 50%;
  padding: 0.3rem;
  text-align: center;
}
header .main-menu a .fa-vk:hover {
  color: #2cb1fd;
}
@media (max-width: 980px) {
  .useful-links {
    max-height: 200px;
  }
}
#anketa-link {
  color: #27ae60;
  font-weight: bold;
  padding: 0.1% 1.2%;
}
#support-link{
  line-height: 50px;
  padding: 0 0.9%;
  background-color: gold;
}
#support-link:hover{
  color: #000;
}
.white{
  background-color: white;
}
.support__container{
  width: 80%;
  margin: 0 auto;
  padding: 1% 0;
}
.support__container a{
  text-decoration: underline;
}
.uppercase{
  text-transform: uppercase;
}
.center{
  text-align: center;
}
.support__help-type {
  vertical-align: top;
  display: inline-block;
  width: calc(100% / 3 - 4.5% - 4px);
  padding: 1.5%;
  margin: 1%
}
.flex{
  display: flex;
}
.support__help-type:first-of-type{
  margin-left: 0;
}
.support__help-type:last-of-type{
  margin-right: 0;
}
.yellow{
  background-color: rgba(232, 217, 0, 0.5);
}
.green{
  background-color: rgba(83, 194, 32, 0.5);
}
.blue{
  background-color: rgba(30, 145, 233, 0.5);
}
.support__help-type--header {
   color: #000000;
   line-height: 300%;
   font-family: 'Open Sans', sans-serif;
 }
.support__help-type p {
  font-size: 80%;
  margin-bottom: 5%;
}
.support__help-type--button {
  margin: 0 auto;
  display: block;
  padding: 4% 10%;
  border-radius: 10px;
  font-size: 90%;
  margin-bottom: 5%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s;
}
.support__help-type--button:hover{
    opacity: 0.85;
    transition: opacity 0.15s;
}

@media all and (max-width: 1070px){
  .support__help-type {
    width: 90%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 5%;
  }
  .flex{
    display: block;
  }
  .support__help-type p, .support__help-type--button {
    font-size: 100%;
  }
}
.relative{
  position: relative;
}
#support li{
  margin-bottom: 5px;
  line-height: 130%;
}
::-moz-selection { background:  rgba(39, 174, 96, 0.4); }
::selection { background: rgba(39, 174, 96, 0.4); }
@media all and (max-width: 1322px){
  .hide-on-medium{
    display: none;
  }
}
@media all and (max-width: 1075px){
  .hide-on-small{
    display: none;
  }
}