body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/bg.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

main {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.subscribebitt {
    padding-top: 29px !important;
    padding-bottom: 29px !important;
    text-align: center !important;
}

.rightcard {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

[type='checkbox']:checked + label:before {
    border-right: 2px solid #a4ddff;
    border-bottom: 2px solid #a4ddff;
}

[type='checkbox'] + label:before {
    border: 2px solid #a4ddff;
}

.shppsub {
    /*margin: 1.21%;*/
    display: block;
    padding-top: 2px !important;
    padding-left: 1.2% !important;
    cursor: default;
}
.shppsub a{
    cursor: pointer;
}
nav{
    line-height: 64px;
    height: 64px;
}
@media only screen and (max-width: 992px){
    .shppsub{
        top
    }
}
@media only screen and (max-width: 992px) {
    .shppsub {
        /*top: 11.2%;*/
        top: 2px;
        /*margin: 1.21% 0 1.21% 0;*/
        /*
        margin-left: 0;
        margin-right: 0;*/
    }
}

.socialicon {
    padding: 5px;
}

.socialicon + .socialicon {
    margin-right: 5px;
}

.shpp {
    font-weight: 700;
}

@media (max-width: 430px) {
    .subscribebitt i {
        width: 100%;
        height: 100%;
    }
    #submitter {
        width: 100%;
        padding-bottom: 8px;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}

.copyright {
    line-height: 50px;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(51, 51, 51, .08);
}

.copyright .row {
    margin-bottom: 0;
}

.thanks {
    display: none;
}

.loadtaker {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: -12px;
    background-color: rgba(0, 0, 0, .31);
}

.loadtaker .preloader-wrapper {
    position: absolute;
    top: 45%;
    left: 45%;
}

#subheader {
    line-height: 30px;
}

.subparagraph {
    padding-bottom: 20px;
}

.emaildiv {
    margin-top: 26px;
}

input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid white;
}
