<!DOCTYPE html>
<html lang="ru" data-ng-app="app">
<head>
  <meta name="fragment" content="!"/>
  <meta charset="UTF-8"/>
  <base href="/">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width"/>
  <meta name="Description" content="Школа программирования Ш++ в Кропивницком"/>
  <meta
      name="Keywords"
      content="Кировоград, школа, программирования, Ш++, курсы, Веб разработка, Web development, Андроид разработка, Android development, Mobile development, робототехника, Весна Софт, VesnaSoft, Кропивницкий"/>
  <title>Школа программирования</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/flaticon.css">
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <script>
      var siteVer = 1.70;
      document.write('<base href="' + document.location + '" />');
      var stylesheets = ['owl.carousel', 'slick', 'template', 'home', 'potential', 'news', 'courses', 'about', 'sprites', 'font-awesome.min'];
      stylesheets.forEach(function (ssh) {
          var link = document.createElement('link');
          link.setAttribute('rel', 'stylesheet');
          link.setAttribute('type', 'text/css');
          link.setAttribute('href', 'css/' + ssh + '.css' + '?ver=' + siteVer);
          document.getElementsByTagName('head')[0].appendChild(link);
      })
  </script>
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>');</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="js/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-cookies.min.js"></script>
  <script>window.angular || document.write('<script src="js/angular.min.js">\x3C/script>');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-route.min.js"></script>
  <script>
    (function() {
      try {
        window.angular.module('ngRoute');
      }
      catch(e) {
        return false;
      }
      return true;
    })() || document.write('<script src="js/angular-route.js">\x3C/script>');
  </script>
  <script src='js/angular-scroll.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js"></script>
  <script>
    (function() {
      try {
        window.angular.module('ngSanitize');
      }
      catch(e) {
        return false;
      }
      return true;
    })() || document.write('<script src="js/sanitize.js">\x3C/script>');
  </script>
  <script>document.write('<script src="js/app.js?v=' + siteVer + '">\x3C/script>');</script>
  <script>document.write('<script src="js/controllers.js?v=' + siteVer + '">\x3C/script>');</script>
  <script src="js/angular-file-upload.min.js"></script>
  <script src='js/angular-locale_ru-ua.js'></script>
  <script src="js/ngInfiniteScroll.min.js"></script>
  <script src="js/owl.min.js"></script>
  <script src="js/slick.min.js"></script>
  <!-- Fonts -->
  <link
      href='https://fonts.googleapis.com/css?family=Roboto:400italic,100,300,100italic,300italic,400&subset=cyrillic,latin,latin-ext'
      rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/spinner.css">
</head>
<body data-ng-controller="mainController" data-scroll>
<header data-ng-class="{ nogrborder: isActive('/potential') || isActive('/courses') || isActive('/about') }">
  <div class="container">
    <div class="logo">
      <a href="{{selectedLanguage}}/">
        <span class="sh">Ш</span>
        <span class="plus">++</span>
      </a>
    </div>
    <div class="main-menu">
      <nav>
        <a
            href="{{selectedLanguage}}/news" data-ng-class="{active: isActive('/news')}"
            class="menu_{{selectedLanguage}}" id="news-link">{{translation.news}}</a>
        <a
            href="{{selectedLanguage}}/courses" data-ng-class="{active: isActive('/courses')}"
            class="menu_{{selectedLanguage}}" id="courses-link">{{translation.courses}}</a>
        <a
            href="{{selectedLanguage}}/potential" data-ng-class="{active: isActive('/potential')}"
            class="menu_{{selectedLanguage}} hide-on-medium" id="pot-link">{{translation.potential}}</a>
        <a
            href="{{selectedLanguage}}/about" data-ng-class="{active: isActive('/about')}"
            class="menu_{{selectedLanguage}}" id="about-link" data-ng-bind-html="translation.about"></a>
        <a
            href="{{selectedLanguage}}/about#contacts" data-ng-class="{active: isActive('/about#contacts')}"
            class="menu_{{selectedLanguage}}" id="contacts-link" data-ng-bind-html="translation.contacts"></a>
        <a
            href="{{selectedLanguage}}/anketa" data-ng-class="{active: isActive('/anketa')}"
            class="anketa menu_{{selectedLanguage}}" id="anketa-link" data-ng-bind-html="translation.anketa"></a>
        <a href="{{selectedLanguage}}/courses#faq" class="ask menu_{{selectedLanguage}} hide-on-small" id="">{{translation.ask_question}}</a>
        <a href="{{selectedLanguage}}/supportus" class="ask menu_{{selectedLanguage}}" id="support-link">{{translation.support_us_button}}</a>
        <!--<a href="https://vk.com/programming_in_kr" target="_blank"> <i class="fa fa-vk"></i></a>-->
      </nav>
    </div>
    <div class="langs">
      <div class="lang_cont" data-ng-click='selectedLanguage="ru";translate();'>
        <span data-ng-class="{active_lang: isActiveLang('ru')}" class="lang">RU</span>
      </div>
      <div class="lang_cont" data-ng-click='selectedLanguage="ua";translate()'>
        <span data-ng-class="{active_lang: isActiveLang('ua')}" class="lang">UA</span>
      </div>
      <div class="lang_cont" data-ng-click='selectedLanguage="en";translate()'>
        <span data-ng-class="{active_lang: isActiveLang('en')}" class="lang">EN</span>
      </div>
    </div>
  </div>
</header>
<div data-ng-view class="views" data-autoscroll>
  <noscript><h1>Sorry, your browser does not support JavaScript!</h1></noscript>
</div>
<footer>
  <div class="container">
    <div class="useful-links">
      <ul>
        <li>
          <a href="https://fb.com/shpp.kr/posts" target="_blank">
            <i class="fa fa-facebook"></i>Facebook
          </a>
        </li>
        <li><a href="{{selectedLanguage}}/courses#faq" class="ask menu_{{selectedLanguage}}" id="form-link"><i
            class="fa fa-question-circle"></i>{{translation.ask_question}}</a></li>
        <li><a href="http://programming.kr.ua/subscriptions" target='_blank'><i class="fa fa-envelope-o"></i>{{translation.subscriptions}}</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu hide-on-small footer-sm-menu">
      <ul>
        <li><a href="{{selectedLanguage}}/">{{translation.main}}</a></li>
        <li><a href="{{selectedLanguage}}/news">{{translation.news}}</a></li>
      </ul>
    </div>
    <div class="footer-menu hide-on-small">
      <ul>
        <li>
          <a href="{{selectedLanguage}}/courses">{{translation.courses}}</a>
          <ul class="submenu-list">
            <li><a href="{{selectedLanguage}}/courses#adults">{{translation.home_courses_adults}}</a></li>
            <li><a href="{{selectedLanguage}}/courses#teens">{{translation.home_courses_teens}}</a></li>
            <li><a href="{{selectedLanguage}}/courses#kids">{{translation.home_courses_kids}}</a></li>
            <li><a href="{{selectedLanguage}}/courses#anketa" data-ng-bind-html="translation.anketa"></a></li>
          </ul>
        </li>
        <li>
          <a href="{{selectedLanguage}}/about">{{translation.about2}}</a>
          <ul class="submenu-list">
            <li><a href="{{selectedLanguage}}/potential">{{translation.potential}}</a></li>
            <li><a href="{{selectedLanguage}}/about#philosophy">{{translation.about_philosophy}}</a></li>
            <li><a href="{{selectedLanguage}}/about#partners">{{translation.about_partners}}</a></li>
            <li><a href="{{selectedLanguage}}/about#contacts" data-ng-bind-html="translation.contacts"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div id="scrollup" data-ng-click="toTheTop()"></div>

<!-- Google Analytics -->
<script>
    !function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-53861593-1","auto"),ga("send","pageview");
</script>
</body>
</html>
