<div class="green-submenu">
    <div class="green-submenu-bg"></div>
    <div class="green-submenu-item">
        <a href="#achievement" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="achi"></i>
            <span class="green-submenu-link__description">{{translation.achievement}}</span>
        </a>
    </div>
    <div class="green-submenu-item">
        <a href="#philosophy" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="phil"></i>
            <span class="green-submenu-link__description">{{translation.philosophy}}</span>
        </a>
    </div>
    <div class="green-submenu-item">
        <a href="#partners" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="par"></i>
            <span class="green-submenu-link__description">{{translation.partners}}</span>
        </a>
    </div>
    <div class="green-submenu-item">
        <a href="#contacts" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="con"></i>
            <span class="green-submenu-link__description">{{translation.contacts}}</span>
        </a>
    </div>
    <div class="green-submenu-overlay"></div>

</div>
<div id="we">
    <div class="person" data-ng-repeat="person in weare.people|orderBy:random">
        <img src='{{person.img}}' alt="{{person.name}}">
        <div class="person-descr">
            <p><span>{{person.name}}</span><br>{{person.position}}</p>
        </div>
    </div>
</div>
<div id="achievement" class="container">
    <div class="ach-row ach-black">
        <div class="ach-descr">
            <h2>{{translation.ach_descr1_h}}</h2>
            <p>
                {{translation.ach_descr1_p1}}
            </p>
            <p>
                {{translation.ach_descr1_p2}}
            </p>
        </div>
        <div class="ach-photo">
            <img src="img/whiteboard.jpg" alt="Урок верстки">
        </div>
    </div>
    <div class="ach-row ach-green">
        <div class="ach-photo">
            <img src="img/vesna.JPG" alt="Весна Софт">
        </div>
        <div class="ach-descr">
            <h2>{{translation.ach_descr2_h}}</h2>
            <p data-ng-bind-html="translation.ach_descr2_p1"></p>
            <p data-ng-bind-html="translation.ach_descr2_p2"></p>
            <p data-ng-bind-html="translation.ach_descr2_p3"></p>
        </div>
    </div>
    <div class="ach-row ach-black">
        <div class="ach-descr">
            <h2>{{translation.ach_descr3_h}}</h2>
            <p data-ng-bind-html="translation.ach_descr3_p1"></p>
            <p data-ng-bind-html="translation.ach_descr3_p2"></p>
            <p data-ng-bind-html="translation.ach_descr3_p3"></p>
        </div>
        <div class="ach-photo">
            <img src="img/ach.jpg" alt="Вручение призов">
        </div>
    </div>
</div>
<div id="philosophy" class="container">
    <div class="phil-text">
        <h2>{{translation.philosophy}}</h2>
        <div class="phil-slider" data-about-slider>
            <div class="item first-slide-about">
                <p data-ng-bind-html="translation.phil1_p1"></p>
                <p data-ng-bind-html="translation.phil1_p2"></p>
                <p data-ng-bind-html="translation.phil1_p3"></p>
                <p data-ng-bind-html="translation.phil1_p4"></p>
                <p data-ng-bind-html="translation.phil1_p5"></p>
                <p data-ng-bind-html="translation.phil1_p6"></p>
            </div>
            <div class="item second-slide-about">
                <p data-ng-bind-html="translation.phil2_p1"></p>
                <p data-ng-bind-html="translation.phil2_p2"></p>
                <p data-ng-bind-html="translation.phil2_p3"></p>
                <p data-ng-bind-html="translation.phil2_p4"></p>
                <p data-ng-bind-html="translation.phil2_p5"></p>
            </div>
            <div class="item third-slide-about">
                <p data-ng-bind-html="translation.phil3_p1"></p>
                <p data-ng-bind-html="translation.phil3_p2"></p>
                <p data-ng-bind-html="translation.phil3_p3"></p>
                <p data-ng-bind-html="translation.phil3_p4"></p>
            </div>
        </div>
    </div>
    <div class="phil-photo">
        <img src="img/phil.jpg" alt="философия">
    </div>
</div>
<div id="partners">
    <div class="partners-container container">
        <h2>{{translation.partners2}}</h2>
        <a href="http://www.advection.net/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/advection.png" alt="advection.net">
            </div>
        </a>

        <a href="http://onix-systems.com/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/onix.png" alt="onix-systems" style="height: 25px;">
            </div>
        </a>
        <a href="http://kinect.pro/" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/kinect.png" alt="Expert Soft">
          </div>
        </a>
        <a href="https://ringlabskiev.com/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/ring_labs.png" alt="RingLabs">
            </div>
        </a>
        <a href="http://www.roboclub.if.ua/" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/roboclub.png" alt="roboclub">
          </div>
        </a>
        <a href="http://brainbasket.org/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/brainbasket.png" alt="Brainbasket">
            </div>
        </a>
        <!--<a href="http://prometheus.org.ua/" target="_blank">-->
            <!--<div class="partner-icon">-->
                <!--<img src="img/partners/Prometheus.png" alt="Prometheus">-->
            <!--</div>-->
        <!--</a>-->
        <a href="https://codeclub.com.ua/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/codeclub.png" alt="CodeClub">
            </div>
        </a>
        <a href="http://200x300.com/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/200x300.png" alt="200x300">
            </div>
        </a>

        <a href="http://www.techsoup.org/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/techsoup.png" alt="techsoup">
            </div>
        </a>
        <a href="http://www.jetbrains.com/" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/jet.png" alt="Jet Brains">
          </div>
        </a>
        <a href="https://slack.com//" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/slack.png" alt="Slack" style="height: 30px;">
          </div>
        </a>

        <a href="https://htmlacademy.ru/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/htmlacademy.png" alt="htmlacademy">
            </div>
        </a>
        <a href="http://www.wowza.com/" target="_blank">
            <div class="partner-icon">
                <img src="img/partners/wowza.png" alt="wowza">
            </div>
        </a>
        <!--<a href="https://vk.com/my_world_std" target="_blank">-->
            <!--<div class="partner-icon">-->
                <!--<img src="img/partners/myworldstudio.png" alt="My World Studio">-->
            <!--</div>-->
        <!--</a>-->

        <!--<a href="http://diylab.com.ua/" target="_blank">-->
          <!--<div class="partner-icon">-->
            <!--<img src="img/partners/diylab.png" alt="diylab">-->
          <!--</div>-->
        <!--</a>-->
        <a href="http://dynamicstreaming.net/" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/ds.png" alt="Dynamic streaming">
          </div>
        </a>
        <a href="http://www.kyivstar.ua/" target="_blank">
          <div class="partner-icon">
            <img src="img/partners/star.png" alt="Київстар">
          </div>
        </a>
    </div>

</div>
<div id="contacts">
    <a href="./map.html" target="_blank">
        <div id='map'></div>
    </a>
    <div class="contacts-info container">
        <div class="contact-row contact-address">
            <div class="contact-icon" id="con"></div>
            <div class="contact-text" data-ng-bind-html="translation.address"></div>
        </div>
        <div class="contact-row contact-phone">
            <div class="contact-icon" id="phone"></div>
            <div class="contact-text">
                099 196 24 69&nbsp;({{translation.roma2}})<br>
                <!-- 095 465 04 11&nbsp;({{translation.dima2_first_name}})<br> -->
                095 240 95 72&nbsp;({{translation.ira2}})
            </div>
        </div>
        <div class="contact-row contact-mail">
            <div class="contact-icon" id="mail" style="margin-right: 25px; margin-top: 2px;"></div>
            <div class="contact-text">
                {{translation.writeus}}<br>
                <a href="mailto:info@programming.kr.ua">
                    info@programming.kr.ua
                </a>
            </div>
        </div>
    </div>
</div>
