<div id="camera_wrap" data-ng-camera>
	<div class="video-content">
		<h1>{{translation.camera_header}}</h1>
		<div id="playerbox">
			<div id="top_div">
				<div id="bar_div">
					<div id="bar"></div>
				</div>
				<canvas id="joystick" width="110px" height="60px"></canvas>
			</div>
			<div id="video_wrapper">
				<div id="video-flash">
					<div id="player_wrapper"></div>
				</div>
				<div id="video"></div>
				<div class="playeroverlay"></div>
			</div>
		</div>
	</div>
	<button id="btnControl">{{translation.camera_controlbtn}}</button>
	<div id="status_con_div">
		<p id="status_con"></p>
	</div>
	<div class="clear"></div>
</div>

<!-- scripts for camera -->
<!-- <script type="text/javascript" src="http://cdn.webrtc-experiment.com/firebase.js"></script> -->
<!-- <script type="text/javascript" src="js/camera/RTCMultiConnection.js"></script> -->
<!-- <script type="text/javascript" src="js/camera/DetectRTC.js"></script> -->

<script type="text/javascript" src="js/camera/jwplayer.js"></script>
<script type="text/javascript" src="js/camera/camera.js"></script>




<!-- video.js test

<script src="js/camera/video.js"></script>
<script>
	videojs.options.flash.swf = "js/camera/video-js.swf";
</script>
  <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640px" height="480px" data-setup='{ "controls": false, "autoplay": true, "aspectRatio": "4:3" }'
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup="{}">
    <source src="rtmp://shpp.me/live/scott2" type="rtmp/flv">
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>


  <script>
  		videojs("example_video_1").ready(function(){
  			console.log(this)
			// $("#example_video_1 object").removeAttr('width').removeAttr('height')
			// css({"width":"auto","height":"auto"}) 
		}).currentTime(0);
  </script>

-->
