<div class="breadcrumbs">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    {{translation.back}}
  </a>
</div>
<div class="check-school-form form">
  <h2>{{translation.csf_h}}</h2>
  <p data-ng-bind-html="translation.csf_p1"></p>
  <p data-ng-bind-html="translation.csf_p2"></p>
  <button data-ng-click="choose('main-school');">{{translation.csf_b1}}</button>
  <button data-ng-click="choose('choose');">{{translation.csf_b2}}</button>
</div>