<div class="breadcrumbs small">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
     {{translation.back}}
  </a>
</div>
<div class="course-form form">
  <h2>{{translation.cf_h}}</h2>
  <div class="choose-course" data-ng-click="chooseCourse('Web Development');">
    <h2>Web development</h2>
    <p>{{translation.cf_main}}</p>
  </div>
  <div class="choose-course" data-ng-click="chooseCourse('Android, Java');">
    <h2>Mobile development</h2>
    <p>{{translation.cf_learn}}</p>
  </div>
  <div class="choose-course" data-ng-click="chooseCourse(translation.cf_other_pl);">
    <h2>{{translation.other}}</h2>
    <p>{{translation.cf_other}}</p>
  </div>
</div>
