<div id="courses">
    <div class="green-submenu">
        <div class="green-submenu-bg"></div>
        <div class="green-submenu-item">
            <a href="#adults" data-du-smooth-scroll class="green-submenu-link thin">
                <i class="green-submenu-icon" id="mentor-icon"></i>
                <br>
                <span class="green-submenu-link__description" >18-100</span>
            </a>
        </div>
        <div class="green-submenu-item">
            <a href="#teens" data-du-smooth-scroll class="green-submenu-link thin">
                <i class="green-submenu-icon" id="flaticon-student"></i>
                <br>
                <span class="green-submenu-link__description">12-17</span>
            </a>
        </div>
        <div class="green-submenu-item">
            <a href="#kids" data-du-smooth-scroll class="green-submenu-link thin">
                <i class="green-submenu-icon" id="flaticon-technology"></i>
                <br>
                <span class="green-submenu-link__description">8-11</span>
            </a>
        </div>
        <div class="green-submenu-item">
            <a href="#oth_technology" data-du-smooth-scroll class="green-submenu-link thin">
                <i class="green-submenu-icon" id="oth-icon"></i>
                <br>
                <span class="green-submenu-link__description" data-ng-bind-html="translation.courses_other"></span>
            </a>
        </div>
        <div class="green-submenu-overlay"></div>
    </div>

    <div class="courses-common" id="common">
        <h2 class="">{{translation.courses_h2}}</h2>
        <p class="container readable" data-ng-bind-html="translation.courses_p1"></p>
        <p class="container readable linkcontaining">
            <span data-ng-bind-html="translation.courses_p2_span1"></span><a href="#adults" data-du-smooth-scroll class="link">{{translation.courses_p2_link}}</a><span data-ng-bind-html="translation.courses_p2_span2"></span>
            <br/>
            <span data-ng-bind-html="translation.courses_p3_span1"></span><a href="#teens" data-du-smooth-scroll class="link">{{translation.courses_p3_link}}</a><span data-ng-bind-html="translation.courses_p3_span2"></span>
            <br/>
            <span data-ng-bind-html="translation.courses_p4_span1"></span><a href="#kids" data-du-smooth-scroll class="link">{{translation.courses_p4_link}}</a><span data-ng-bind-html="translation.courses_p4_span2"></span>
        </p>
        <p class="container readable" data-ng-bind-html="translation.courses_p5"></p>
    </div>
    <div id="adults" class="container">
        <h2 class="">{{translation.courses_adults_h2}}</h2>
        <p class="readable" data-ng-bind-html="translation.courses_cs_p1"></p>
        <p class="readable">{{translation.courses_cs_p3}}</p>
        <div class="readable" >{{translation.courses_list_title}}</div>
        <ol class="readable container linkcontaining">
            <li><a href="anketa">{{translation.courses_list_step1}}</a></li>
            <li data-ng-bind-html="translation.courses_list_step2"></li>
            <li data-ng-bind-html="translation.courses_list_step3"></li>
            <li data-ng-bind-html="translation.courses_list_step4"></li>
            <li>{{translation.courses_list_step5}}</li>
            <li>{{translation.courses_list_step6}}</li>
        </ol>
        <p class="readable" data-ng-bind-html="translation.courses_cs_p2"></p>
        <a
          href="{{selectedLanguage}}/anketa" data-ng-class="{active: isActive('/anketa')}"
          class="anketa menu_{{selectedLanguage}} anketa-link" data-ng-bind-html="translation.anketa"></a>
    </div>

    <div id="teens">
        <div class="leftK"></div>
        <h2 data-ng-bind-html="translation.courses_teens_h"></h2>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p1"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p2"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p3"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p4"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p5"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p6"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p7"></p>
        <p class="readable" data-ng-bind-html="translation.courses_teens_p8"></p>
        <div class="rightK"></div>
        <a
          href="{{selectedLanguage}}/anketa" data-ng-class="{active: isActive('/anketa')}"
          class="anketa menu_{{selectedLanguage}} anketa-link" data-ng-bind-html="translation.anketa"></a>
    </div>

    <div class="container">
        <div id="kids">
            <h2>{{translation.courses_kids_h}}</h2>
            <p class="readable" data-ng-bind-html="translation.courses_kids_p1"></p>
            <p class="readable" data-ng-bind-html="translation.courses_kids_p2"></p>
            <a
              href="{{selectedLanguage}}/anketa" data-ng-class="{active: isActive('/anketa')}"
              class="anketa menu_{{selectedLanguage}} anketa-link" data-ng-bind-html="translation.anketa"></a>
        </div>
    </div>

    <div id="oth_technology" class="courses-common">
        <h2>{{translation.oth_technology_h}}</h2>
        <p data-ng-bind-html="translation.oth_technology_p1" class="readable"></p>
        <div class="course-logos container readable">
            <div class="course-logo">
                <span>HTML5</span>
                <i class="sprite sprite-HTML5"></i>
            </div>
            <!--<div class="course-logo">-->
            <!--<span>CSS3</span>-->
            <!--<i class="sprite sprite-CSS3"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
            <!--<span>JavaScript</span>-->
            <!--<i class="sprite sprite-js"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
            <!--<span>jQuery</span>-->
            <!--<i class="sprite sprite-jquery"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>git</span>-->
                <!--<i class="sprite sprite-git"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>AngularJS</span>
                <i class="sprite sprite-angular"></i>
            </div>
            <div class="course-logo">
                <span>React</span>
                <i class="sprite sprite-react"></i>
            </div>
            <div class="course-logo">
                <span>Vue.js</span>
                <i class="sprite sprite-vue"></i>
            </div>
            <div class="course-logo">
                <span>Node.JS</span>
                <i class="sprite sprite-nodejs"></i>
            </div>
            <div class="course-logo">
                <span>Linux</span>
                <i class="sprite sprite-linux"></i>
            </div>
            <!--<div class="course-logo">-->
            <!--<span>Apache</span>-->
            <!--<i class="sprite sprite-apache"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>MySQL</span>-->
                <!--<i class="sprite sprite-mysql"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>PHP</span>
                <i class="sprite sprite-php"></i>
            </div>
            <div class="course-logo">
                <span>Laravel</span>
                <i class="sprite sprite-yii"></i>
            </div>
            <!--<div class="course-logo">-->
            <!--<span>Nginx</span>-->
            <!--<i class="sprite sprite-nginx"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
            <!--<span>Drupal</span>-->
            <!--<i class="sprite sprite-drupal"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>Python</span>
                <i class="sprite sprite-python"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>C#</span>-->
                <!--<i class="sprite sprite-csharp"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Delphi</span>-->
                <!--<i class="sprite sprite-delphi"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>Android</span>
                <i class="sprite sprite-android"></i>
            </div>
            <div class="course-logo">
                <span>Unreal Engine</span>
                <i class="sprite sprite-UE"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Data&nbsp;Bases</span>-->
                <!--<i class="sprite sprite-SQL"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>AWS</span>
                <i class="sprite sprite-AWS"></i>
            </div>
            <div class="course-logo">
                <span>iOS</span>
                <i class="sprite sprite-ios-icon"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Objective-C</span>-->
                <!--<i class="sprite sprite-obj-c2"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Swift</span>-->
                <!--<i class="sprite sprite-Swift"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>OpenGL</span>
                <i class="sprite sprite-opengl-icon"></i>
            </div>
            <div class="course-logo">
                <span>GoLang</span>
                <i class="sprite sprite-golang"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Cinema 4D</span>-->
                <!--<i class="sprite sprite-CINEMA-4D"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>Adobe&nbsp;Photoshop</span>
                <i class="sprite sprite-Adobe_Photoshop"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Adobe&nbsp;Illustrator</span>-->
                <!--<i class="sprite sprite-Adobe_Illustrator"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Adobe&nbsp;After&nbsp;Effects</span>-->
                <!--<i class="sprite sprite-Adobe_After_Effects"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Boost</span>-->
                <!--<i class="sprite sprite-boost"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Bower</span>-->
                <!--<i class="sprite sprite-bower"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>C++</span>
                <i class="sprite sprite-cplus"></i>
            </div>
            <div class="course-logo">
                <span>Docker</span>
                <i class="sprite sprite-docker"></i>
            </div>
            <div class="course-logo">
                <span>.Net</span>
                <i class="sprite sprite-dotnet"></i>
            </div>
            <div class="course-logo">
                <span>Arduino</span>
                <i class="sprite sprite-Arduino"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Grunt</span>-->
                <!--<i class="sprite sprite-grunt"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>Gulp</span>
                <i class="sprite sprite-gulp"></i>
            </div>
            <div class="course-logo">
                <span>Java</span>
                <i class="sprite sprite-java"></i>
            </div>
            <!--<div class="course-logo">-->
                <!--<span>Libav</span>-->
                <!--<i class="sprite sprite-libav"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Vagrant</span>-->
                <!--<i class="sprite sprite-Vagrant"></i>-->
            <!--</div>-->
            <!--<div class="course-logo">-->
                <!--<span>Visual&nbsp;Studio</span>-->
                <!--<i class="sprite sprite-visstudio"></i>-->
            <!--</div>-->
            <div class="course-logo">
                <span>Wowza</span>
                <i class="sprite sprite-wowzalogo"></i>
            </div>
            <div class="course-logo">
                <span>Unity</span>
                <i class="sprite sprite-Unity"></i>
            </div>
        </div>
    </div>


    <div id="faq" class="container">
        <h2>{{translation.faq_h}}</h2>
        <div class="question_list">
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_1"></span></div>
                <div class="readable answer linkcontaining" hidden><span
                        data-ng-bind-html="translation.faq_answer_1_span_1"></span><a href='#common'
                                                                                      data-du-smooth-scroll
                        class="link">{{translation.faq_answer_1_link_1}}</a>.
                </div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_2"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_2"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_3"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_3"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_4"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_4"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_5"></span></div>
                <div class="readable answer" hidden><span data-ng-bind-html="translation.faq_answer_5_span_1"></span><a
                        href='{{selectedLanguage}}/anketa' target="_blank" data-du-smooth-scroll class="link">{{translation.faq_answer_5_link_1}}</a><span
                        data-ng-bind-html="translation.faq_answer_5_span_2"></span>
                        <div data-ng-bind-html="translation.faq_answer_5_li_1"></div>
                        <div data-ng-bind-html="translation.faq_answer_5_li_2"></div>
                        <div data-ng-bind-html="translation.faq_answer_5_li_4"></div>
                </div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_12"></span></div>
                <div class="readable answer" hidden>
                    <div data-ng-bind-html="translation.faq_answer_12"></div>
                </div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_6"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_6"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_8"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_8"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_9"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_9"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_10"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_10"></div>
            </div>
            <div class="readable question_block">
                <div class="readable question"><img src="img/farrow.png" alt="faq arrow"><span
                        data-ng-bind-html="translation.faq_question_11"></span></div>
                <div class="readable answer" hidden data-ng-bind-html="translation.faq_answer_11"></div>
            </div>
        </div>
    </div>

    <div class="container" id="ask">
        <form
                method="POST"
                action=""
                name="myForm"
                data-ng-submit="validateForm(myForm.$valid)"
                novalidate>
            <h2>{{translation.courses_ask}}</h2>
            <label for="name">{{translation.anketa_name}}<span class="important">*</span></label>
            <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="{{translation.anketa_name_pl}}"
                    data-ng-model="anketa.name"
                    data-ng-pattern="namePattern"
                    data-ng-class="{ 'has-error' : (myForm.name.$invalid || myForm.name.$pristine) && submitted}"
                    required>
            <br>
            <label for="age">{{translation.anketa_age}}<span class="important">*</span></label>
            <input
                    type="text"
                    name="age"
                    id="age"
                    placeholder="{{translation.anketa_age_pl}}"
                    data-ng-model="anketa.age"
                    data-ng-pattern="regAge"
                    data-ng-class="{ 'has-error' : (myForm.age.$invalid || myForm.age.$pristine) && submitted}"
                    required>
            <br>
            <label for="phone">{{translation.anketa_phone}}<span class="important">*</span></label>
            <input
                    type="tel"
                    name="phone"
                    id="phone"
                    placeholder="066 00 00 000"
                    data-ng-model="anketa.phone"
                    data-ng-pattern="phonePattern"
                    data-ng-class="{ 'has-error' : (myForm.phone.$invalid || myForm.phone.$pristine) && submitted}"
                    required>
            <br>
            <label for="mail">{{translation.anketa_email}}<span class="important">*</span></label>
            <input
                    type="email"
                    name="mail"
                    id="mail"
                    placeholder="you@example.com"
                    data-ng-model="anketa.mail"
                    data-ng-pattern="emailPattern"
                    data-ng-class="{ 'has-error' : (myForm.mail.$invalid || myForm.mail.$pristine) && submitted}"
                    required>
            <br>
            <label for="comment">{{translation.anketa_question}}<span class="important">*</span></label>
            <textarea
                    name="comment"
                    id="comment"
                    placeholder="{{translation.anketa_question_pl}}"
                    data-ng-model="anketa.comment"
                    data-ng-pattern="regComment"
                    data-ng-class="{ 'has-error' : myForm.comment.$invalid && submitted}" required></textarea>
            <br>
            <input type="submit" value="{{translation.anketa_send}}" data-ng-click="submitted=true">
        </form>
        <h2 class="notice">
            {{translation.anketa_thanks}}
        </h2>
    </div>

    <script>
        $(document).ready(function () {
            $(".question_block").on("click", ".question", function (e) {
                var _this = e.delegateTarget;
                if ($(_this).hasClass("open")) {
                    $(_this).find(".answer").slideUp();
                    $(_this).removeClass("open");
                } else {
                    $(_this).find(".answer").slideDown();
                    $(_this).addClass("open");
                }
            });
        });
    </script>

</div>
