<div class="first-form form">
  <!-- <h2 style='text-align: center' data-ng-bind-html="translation.ff_placeholder"></h2> -->
  <h2>{{translation.ff_h}}</h2>
  <form
    method="POST"
    action=""
    name="firstForm"
    data-ng-submit="submitForm(firstForm.$valid)"
    novalidate>
    <label for="name">
      {{translation.ff_name}}<span class="important">*</span>
    </label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="{{translation.ff_name_pl}}"
      data-ng-model="student.name"
      data-ng-pattern="namePattern"
      ng-class="{ 'has-error' : firstForm.name.$invalid && subm}"
      required
      ng-change='setIteminLS("name", student.name)'
      >
    <label for="name">
      {{translation.ff_surname}}<span class="important">*</span>
    </label>
    <input
      type="text"
      name="surname"
      id="surname"
      placeholder="{{translation.ff_surname_pl}}"
      data-ng-model="student.surname"
      data-ng-pattern="namePattern"
      data-ng-change='setIteminLS("surname", student.surname)'
      ng-class="{ 'has-error' : firstForm.surname.$invalid && subm}"
      required>

    <label for="day">{{translation.ff_birthday}}<span class="important">*</span></label>
    <div class="yearpicker">
        <input
          ng-change='setIteminLS("day", birthday.day)'
          type="number"
          min='1'
          max='31'
          placeholder='{{translation.ff_day}}'
          required
          name="day"
          id="day"
          ng-model='birthday.day'
          ng-class="{ 'has-error' : firstForm.day.$invalid && subm || dayerror}"
          data-ng-pattern='dayPattern'>
        <select
          name="month"
          class="needsclick"
          ng-change="setIteminLS('month', birthday.month.id)"
          title="{{translation.ff_month}}"
          ng-model='birthday.month'
          ng-options='month.name for month in birthday.monthes[selectedLanguage]'
          ng-class="{ 'has-error' : firstForm.month.$invalid && subm}"
          required>
        </select>
      <input
          ng-change='setIteminLS("year", birthday.year)'
          ng-pattern='yearPattern'
          type="number"
          ng-model='birthday.year'
          ng-class="{ 'has-error' : firstForm.year.$invalid && subm}"
          ngMin='1920'
          ngMax='2010'
          placeholder='{{translation.ff_year}}'
          name="year"
          required>
    </div>
    <input type="submit" value="{{translation.ff_submit}}" data-ng-click="subm=true">
  </form>
</div>
