<div id="home">
  <div id="home_courses">
    <h1 class="home__title" data-ng-bind-html="translation.teach_progr"></h1>
    <div class="home__title--items">
      <span class="home-title__item">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="25 20 90 80">
          <polyline class="path check" fill="none" stroke="#27ae60" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
        {{translation.home_item1}}
      </span>
      <span class="home-title__item">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="25 20 90 80">
          <polyline class="path check" fill="none" stroke="#27ae60" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
        {{translation.home_item2}}
      </span>
      <span class="home-title__item">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="25 20 90 80">
          <polyline class="path check" fill="none" stroke="#27ae60" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
        {{translation.home_item3}}
      </span>
    </div>
    <div class="courses__list">
      <a class="courses__course" id="course_adults" href="{{selectedLanguage}}/courses#adults">
        <div data-ng-bind-html="translation.home_courses_adults" class="courses__course--type"></div>
        <!--<div data-ng-bind-html="translation.home_courses_adults_age" class="courses__course&#45;&#45;age"></div>-->
        <div data-ng-bind-html="translation.home_courses_adults_tip" class="courses__course--tip"></div>
      </a>
      <a class="courses__course" id="course_teens" href="{{selectedLanguage}}/courses#teens">
        <div data-ng-bind-html="translation.home_courses_teens" class="courses__course--type"></div>
        <div data-ng-bind-html="translation.home_courses_teens_age" class="courses__course--age"></div>
        <!--<div data-ng-bind-html="translation.home_courses_teens_tip" class="courses__course&#45;&#45;tip"></div>-->
      </a>
      <a class="courses__course" id="course_kids" href="{{selectedLanguage}}/courses#kids">
        <div data-ng-bind-html="translation.home_courses_kids" class="courses__course--type"></div>
        <div data-ng-bind-html="translation.home_courses_kids_age" class="courses__course--age"></div>
        <!--<div data-ng-bind-html="translation.home_courses_kids_tip" class="courses__course&#45;&#45;tip" id="courses__course&#45;&#45;children"></div>-->
      </a>
    </div>
    <h2 id="need_help"><span data-ng-bind-html="translation.need_help"></span></h2>
  </div>
  <!--<div class="home-courses">-->
    <!--<a href="{{selectedLanguage}}/courses#cs">-->
      <!--<i class="course-icon" id="WebdevIcon"></i>-->
      <!--<span>CS</span>-->
    <!--</a>-->
   <!--&lt;!&ndash; <a href="courses#android">-->
      <!--<i class="course-icon" id="AndroidIcon"></i>-->
      <!--<span>Android</span>-->
  <!--</a> &ndash;&gt;-->
    <!--<a href="{{selectedLanguage}}/courses#kids">-->
      <!--<i class="course-icon" id="EnglishIcon"></i>-->
      <!--<span>{{translation.home_kids}}</span>-->
    <!--</a>-->
    <!--<a href="{{selectedLanguage}}/courses#oth_technology">-->
      <!--<i class="course-icon" id="AppleIcon"></i>-->
      <!--<span>iOS</span>-->
    <!--</a>-->
    <!--<a href="{{selectedLanguage}}/courses#oth_technology">-->
      <!--<i class="course-icon" id="JavaIcon"></i>-->
      <!--<span>Java</span>-->
    <!--</a>-->
    <!--<a href="{{selectedLanguage}}/courses#oth_technology">-->
      <!--<i class="course-icon" id="Unity"></i>-->
      <!--<span>Unity</span>-->
    <!--</a>-->
    <!--<a href="{{selectedLanguage}}/courses#oth_technology">-->
      <!--<i class="course-icon" id="PythonIcon"></i>-->
      <!--<span>Python</span>-->
    <!--</a>-->
    <!--<a href="{{selectedLanguage}}/courses#oth_technology">-->
      <!--<i class="course-icon" id="Arduino"></i>-->
      <!--<span>Arduino</span>-->
    <!--</a>-->
  <!--</div>-->
  <div class="info-block">
    <div class="info-news">
      <div class="nearest-event" id="mission">
        <h3>
          {{translation.home_h_mission}}
        </h3>
        <p data-ng-bind-html="translation.home_p1_mission"></p>
        <p data-ng-bind-html="translation.home_p2_mission"></p>
        <p data-ng-bind-html="translation.home_p3_mission"></p>
      </div>
      <div class="nearest-event">
        <p data-ng-bind-html="translation.home_p1_add"></p>
        <p data-ng-bind-html="translation.home_p2_add"></p>
      </div>
      <div class="one-info-news">
        <a href="{{selectedLanguage}}/news#vs-18-article">
          <section>
            <h3>
              {{translation.home_h2}}
            </h3>
            <p data-ng-bind-html="translation.home_p4"></p>
          </section>
        </a>
      </div>
      <a href="https://instagram.com/kowo.me" target="_blank">
        <div class="one-info-news with-photo"></div>
      </a>
      <div class="spec-links">
        <a href="{{selectedLanguage}}/potential#hardware">
          <div class="spec-link" id="hard">
            &nbsp;
            <span>{{translation.potential_hardware}}</span>
          </div>
        </a>
        <a href="{{selectedLanguage}}/about#philosophy">
          <div class="spec-link" id="phil">
            &nbsp;
            <span>{{translation.about_philosophy}}</span>
          </div>
        </a>
        <a href="{{selectedLanguage}}/about#contacts">
          <div class="spec-link" id="con">
            &nbsp;
            <span>{{translation.home_contacts}}</span>
          </div>
        </a>
      </div>
    </div>
    <div id="feedbacks">
      <div class="info-comments first-com">
        <a href="https://www.facebook.com/profile.php?id=100007675477232" target="_blank">
          <div class="ava"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment1">

        </div>
      </div>
      <div class="info-comments">
        <a href="mailto:karponter.tarino@gmail.com" target="_blank">
          <div class="ava ava-ktarino"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment2">

        </div>
      </div>
      <div class="info-comments">
        <a href="https://www.facebook.com/profile.php?id=100006614320121">
          <div class="ava ava-etereza"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment4"></div>
      </div>
      <div class="info-comments">
        <a href="https://www.facebook.com/konstantin.russo" target="_blank">
          <div class="ava ava-third"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment3">

        </div>
      </div>
      <div class="info-comments">
        <a href="https://www.facebook.com/profile.php?id=100009960305455" target="_blank">
          <div class="ava ava-kpetkov"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment5">

        </div>
      </div>
      <div class="info-comments">
        <a href="https://www.facebook.com/vasiliy.procykovich" target="_blank">
          <div class="ava ava-vprocykovich"></div>
        </a>
        <div class="comment-text" data-ng-bind-html="translation.home_comment6">

        </div>
      </div>
    </div>
  </div>
  <div class="home-partners">
    <div id="owl-demo" data-partners-slider>
      <div class="item">
        <a href="http://www.advection.net/" target="_blank">
          <i class="sprite-par sprite-adv"></i>
        </a>
      </div>
      <div class="item">
        <a href="http://www.jetbrains.com/" target="_blank">
          <i class="sprite-par sprite-jet"></i>
        </a>
      </div>

      <div class="item">
        <a href="https://ringlabskiev.com/" target="_blank">
          <img class='slide-partner-logo' src="img/partners/ring_labs.png" alt="RingLabs">
        </a>
      </div>
      <div class="item">
        <a href="http://onix-systems.com/" target="_blank">
          <i class="sprite-par sprite-onix"></i>
        </a>
      </div>
      <div class="item">
        <a href="http://www.kyivstar.ua/" target="_blank">
          <i class="sprite-par sprite-star"></i>
        </a>
      </div>
      <div class="item">
        <a href="http://roboclub.if.ua/" target="_blank">
          <img class='slide-partner-logo' src="img/partners/roboclub.png" alt="roboclub">
        </a>
      </div>
      <div class="item">
        <a href="http://kinect.pro/" target="_blank">
          <i class="sprite-par sprite-kinect"></i>
        </a>
      </div>
      <div class="item">
        <a href="http://wacom.kiev.ua/" target="_blank">
          <i class="sprite-par sprite-wacom"></i>
        </a>
      </div>

      <!--<div class="item">-->
        <!--<a href="https://vk.com/my_world_std" target="_blank">-->
          <!--<i class="sprite-par sprite-myworldstudio"></i>-->
        <!--</a>-->
      <!--</div>-->
      <div class="item">
        <a href="http://www.wowza.com/" target="_blank">
          <i class="sprite-par sprite-wowza"></i>
        </a>
      </div>
      <!--<div class="item">-->
        <!--<a href="http://www.print-image.com/" target="_blank">-->
          <!--<i class="sprite-par sprite-printIm"></i>-->
        <!--</a>-->
      <!--</div>-->
      <div class="item">
        <a href="http://dynamicstreaming.net/" target="_blank">
          <i class="sprite-par sprite-ds"></i>
        </a>
      </div>
      <!--<div class="item">-->
        <!--<a href="http://www.seoreshenie.com/" target="_blank">-->
          <!--<i class="sprite-par sprite-seo"></i>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<a href="http://www.shtorm.net/" target="_blank">-->
          <!--<i class="sprite-par sprite-sht"></i>-->
        <!--</a>-->
      <!--</div>-->
      <div class="item">
        <a href="http://brainbasket.org/" target="_blank">
          <img class='slide-partner-logo' src="img/partners/brainbasket.png" alt="Brainbasket">
        </a>
      </div>

      <!-- <div class="item">
        <a href="http://ru.wargaming.net/" target="_blank">
          <i class="sprite-par sprite-wargaming"></i>
        </a>
      </div> -->
      <!--<div class="item">-->
        <!--<a href="http://www.archer-soft.com/" target="_blank">-->
          <!--<i class="sprite-par sprite-archer"></i>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<a href="http://diylab.com.ua/" target="_blank">-->
          <!--<img class='slide-partner-logo' src="img/partners/diylab.png" alt="diylab">-->
        <!--</a>-->
      <!--</div>-->
    </div>
  </div>

</div>
