<div class="breadcrumbs">
  <!-- <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    {{translation.back}}
  </a> -->
</div>
<div class="last-form form">
  <h2>{{translation.lf_h1}}</h2>
  <p data-ng-bind-html="translation.lf_p1"></p>
  <p ng-if='student.course != "School group" && student.course != "Школьная группа" && student.course != "Шкільна група"' data-ng-bind-html="translation.lf_p2"></p>
  <p ng-if='student.course == "School group" || student.course == "Школьная группа" || student.course == "Шкільна група"' data-ng-bind-html="translation.lf_p4"></p>
  <p data-ng-bind-html="translation.lf_p3"></p>
  <!-- <p data-ng-bind-html="translation.lf_p4"></p> -->
  <!-- <p data-ng-bind-html="translation.lf_p5"></p> -->
  <!-- <div class="thnx zone">
    <p data-ng-bind-html="translation.lf_p6"></p>
  </div> -->
</div>
