<div class="breadcrumbs small">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    {{translation.back}}
  </a>
</div>
<div class="main-school-form form">
  <h2>{{translation.mf_h1}}</h2>
  <form method="POST" action="" name="schoolForm" data-ng-submit="submitForm(schoolForm.$valid)" novalidate>
    <label for="address">
      {{translation.mf_address}}
      <span class="important">*</span>
    </label>
    <input
      name="address"
      id="address"
      placeholder="{{translation.mf_address_pl}}"
      data-ng-model="student.city"
      data-ng-pattern="addressPattern"
      data-ng-class="{ 'has-error' : schoolForm.address.$invalid && submitted }"
      ng-change='setIteminLS("city", student.city)'
      required>
    <label for="phone">
      {{translation.mf_phone}}
      <span class="important">*</span>
    </label>
    <input type="tel" name="phone" id="phone" placeholder="066 00 00 000" ng-change='setIteminLS("phone", student.phone)' data-ng-model="student.phone" data-ng-pattern="phonePattern" data-ng-class="{ 'has-error' : schoolForm.phone.$invalid && submitted }" required>
    <label for="email">
      {{translation.mf_mail4}}
      <span class="important">*</span> <span class='little'>({{translation.mf_gmail_recomendation}})</span>
    </label>
    <input type="email"
      name="email"
      id="email"
      placeholder="info@gmail.com"
      data-ng-model="student.email"
      data-ng-change='isEmailInDB(student.email)'
      data-ng-pattern="emailPattern"
      data-ng-class="{ 'has-error' : schoolForm.email.$invalid && submitted }"
      required>
    <div class="emailerror" ng-if='emailerror'>
      <i class="fa fa-exclamation"></i>
      <p>{{translation.mf_emailerror}}</p>
    </div>
    <label for="parphone">
      {{translation.mf_phone3}} <span class="important">*</span>
    </label>
    <input
      type="tel"
      name="parphone"
      id="parphone"
      ng-change='setIteminLS("parent_phone", student.parent_phone)'
      placeholder="099 00 00 000"
      data-ng-model="student.parent_phone"
      data-ng-pattern="phonePattern"
      data-ng-class="{ 'has-error' : schoolForm.parphone.$invalid && submitted }"
      required>

    <label for="parname">
      {{translation.mf_parname}}
      <span class="important">*</span>
    </label>
    <input
      type="text"
      name="parname"
      id="parname"
      ng-change='setIteminLS("parent_name", student.parent_name)'
      placeholder="{{translation.mf_parname_ph}}"
      data-ng-model="student.parent_name"
      data-ng-pattern="namePattern"
      data-ng-class="{ 'has-error' : schoolForm.parname.$invalid && submitted }"
      required>
    <label for="english" class="inline-block">
      {{translation.mf_english_level}} <span class="important">*</span>
    </label>
    <select class="inline-block needsclick" data-ng-model='student.english' name="english" id="english" data-ng-change='setIteminLS("english", student.english)' data-ng-class="{ 'has-error' : schoolForm.english.$invalid && submitted }" required>
      <option value="{{translation.mf_english5}}">{{translation.mf_english5}}</option>
      <option value="{{translation.mf_english6}}">{{translation.mf_english6}}</option>
      <option value="{{translation.mf_english7}}">{{translation.mf_english7}}</option>
    </select>
    <div accesskey="" data-nv-file-drop="" data-uploader="uploader" class="addImg">
      <div data-ng-show="uploader.isHTML5">
        <div data-ng-class="{ 'has-error' : uploader.queue[0] === undefined && submitted }" class="over-zone zone" data-nv-file-over="" data-uploader="uploader">
          <p data-ng-bind-html="translation.lf_p7"></p>
        </div>
      </div>
      <div class="upload-container">
        <input id="fileinp" type="file" data-nv-file-select="" data-uploader="uploader"/>
        <ul>
          <li data-ng-repeat="item in uploader.queue">
            <div data-ng-if="controller.isImage(item._file)">
              <div data-ng-thumb="{ file: item._file, height: 100 }" style="overflow:hidden"></div>
            </div>
            <div>{{ item.file.name }}</div>
            <div class="load-but" style="margin-top: 20px;">
              <button data-ng-click="item.remove()" id="cancelImg">
                <i class="fa fa-trash-o"></i>&nbsp;{{translation.remove}}
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="load-but" data-ng-hide="uploader.queue.length > 0">
      <label class="file_upload">
        <span class="button">{{translation.lf_choose}}</span>
        <input type="file" nv-file-select="" uploader="uploader" />
      </label>
    </div>
    <label for="about">{{translation.mf_about}}
      <span class="important">*</span>
    </label>
    <textarea
      required
      rows="5"
      name="about"
      id="about"
      placeholder="{{translation.mf_about_ph}}"
      data-ng-model="student.about"
      data-ng-pattern="portfolioPattern"
      data-ng-change='setIteminLS("about", student.about)'
      data-ng-class="{ 'has-error' : schoolForm.about.$invalid && submitted }"></textarea>
    <div class="check">
      <label class='checklabel' for="general">{{translation.mf_subscription}}</label>
      <label class="inline-label" for="general">
        <input class='list' value='1367ac683b' id='general' type="checkbox">
        <span class="inline-span">{{translation.mf_subscription_general}}</span>
      </label>
    </div>
    <label id='agreelabel' for="agreement" data-ng-class="{ 'has-error' : schoolForm.agreement.$invalid && submitted }">
      <input
        type="checkbox"
        data-ng-model='agreement'
        name='agreement'
        id='agreement'
        value="agree"
        required>
      {{translation.mf_agreement_1}}
      <a id='faqlink' href='courses#faq' target='_blank'>{{translation.mf_faq}}</a>
      {{translation.mf_agreement_2}}
      <span class="important">*</span>
    </label>
    <input data-ng-disabled='emailerror'
      data-ng-class='{"disabled" : emailerror}'
      type="submit"
      value="{{translation.mf_submit}}"
      data-ng-click="submitted=true">
  </form>
</div>
