<div class="breadcrumbs">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    {{translation.back}}
  </a>
</div>
<div class="main-form form">
  <h2>{{translation.mf_h1}}</h2>
  <form
    method="POST"
    action=""
    name="mainForm"
    id="mainForm"
    data-ng-submit="submitForm(mainForm.$valid)"
    novalidate>
    <div class="check" data-ng-class="{ 'has-error' : mainForm.studyform.$invalid && submitted }">
      <label class='checklabel'>{{translation.mf_studyform}}<span class="important">*</span></label>
      <label for="offlineform" class='inline-label'>
        <input
          type="radio"
          data-ng-change='setIteminLS("studyform", student.studyform)'
          data-ng-model='student.studyform'
          data-ng-required='!studyform'
          name='studyform'
          id='offlineform'
          value='offline'
          checked
          required>
        <span class="inline-span">{{translation.mf_studyform_off}}</span>
      </label>
      <!--<label for="onlineform"  class='inline-label'>-->
        <!--<input-->
          <!--type="radio"-->
          <!--data-ng-change='setIteminLS("studyform", student.studyform)'-->
          <!--data-ng-model='student.studyform'-->
          <!--data-ng-required='!studyform'-->
          <!--name='studyform'-->
          <!--id='onlineform'-->
          <!--value='online'-->
          <!--required>-->
        <!--<span class="inline-span">{{translation.mf_studyform_on}}</span>-->
        <!--<p class="onlinespan" data-ng-show="student.studyform == 'online'" data-ng-bind-html="translation.mf_studyform_on_notification"></p>-->
      <!--</label>-->
      <p class="inline-label"> {{translation.mf_want_online}} <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScwiw0J8kbpU_4iUBm266W1QzKAmJR9dbiBgBrvFq02Gv7FRg/viewform" class="link">{{translation.mf_come_here}}</a></p>
    </div>

    <div class="check" data-ng-class="{ 'has-error' : interestRequire() && submitted }" >
      <label for="address" class='checklabel'>
        {{translation.mf_wanttolearn}}<span class="important">*</span>
      </label>

      <label class="inline-label needsclick" for="front-end">
        <input
        data-ng-change='setIteminLS("frontend", interests.frontend)'
        data-ng-model="interests.frontend"
        type="checkbox" class='course-checkbox'
        data-ng-required='interestRequire()'
        id="front-end">
        <span class='inline-span'> Front end web development</span>
      </label>
      <label class="inline-label" for="back-end">
        <input
        data-ng-change='setIteminLS("backend", interests.backend)'
        data-ng-model="interests.backend"
        type="checkbox" class='course-checkbox'
        data-ng-required='interestRequire()'
        id="back-end">
        <span class='inline-span'> Back end development</span>
      </label>
      <label class="inline-label" for="mobile">
        <input
        data-ng-change='setIteminLS("mobile", interests.mobile)'
        data-ng-model="interests.mobile"
        type="checkbox" class='course-checkbox'
        data-ng-required='interestRequire()'
        id="mobile">
        <span class='inline-span'> Mobile development</span>
      </label>
      <label for="otherinterst" id='ownoption'>{{translation.mf_wanttolearn_ownoption}}:</label>
      <input data-ng-change='setIteminLS("otherinput", interests.otherinput)'
        data-ng-model='interests.otherinput'
        data-ng-required='interestRequire()'
        type="text"
        name='otherinput'
        id='otherinterst'
        placeholder='{{translation.mf_wanttolearn_ownoption_ph}}'
        data-ng-class="{ 'has-error' : mainForm.otherinput.$invalid && submitted }"
        data-ng-pattern="regComment">
    </div>
    <div class="block">
      <label for="occupation">{{translation.mf_occupation}}<span class="important">*</span></label>
      <input
        id='occupation'
        name='occupation'
        data-ng-model='student.occupation'
        type="text"
        data-ng-pattern="surnamePattern"
        data-ng-class="{ 'has-error' : mainForm.occupation.$invalid && submitted }"
        data-ng-change='setIteminLS("occupation", student.occupation)'
        placeholder='{{translation.mf_occupation_ph}}'
        required>
    </div>
    <label for="address">
      {{translation.mf_address}}<span class="important">*</span>
    </label>
    <input
      type="text"
      name="address"
      id="address"
      placeholder="{{translation.mf_address_pl}}"
      data-ng-model="student.city"
      data-ng-pattern="addressPattern"
      data-ng-class="{ 'has-error' : mainForm.address.$invalid && submitted }"
      data-ng-change='setIteminLS("city", student.city)'
      required>

    <div class="info-input">
      <label for="phone">
        {{translation.mf_phone}}<span class="important">*</span>
      </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        placeholder="066 00 00 000"
        data-ng-change='setIteminLS("phone", student.phone)'
        data-ng-model="student.phone"
        data-ng-pattern="phonePattern"
        data-ng-class="{ 'has-error' : mainForm.phone.$invalid && submitted }"
        required>
    </div>
    <div class="info-input">
      <label for="email">
        {{translation.mf_mail}}<span class="important">*</span>
      </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="info@gmail.com"
        data-ng-change='isEmailInDB(student.email)'
        data-ng-model="student.email"
        data-ng-pattern="gmailPattern"
        data-ng-class="{ 'has-error' : mainForm.email.$invalid && submitted }"
        required>
      <a href="https://accounts.google.com/SignUp" target="_blank" data-ng-bind-html="translation.mf_mail2"></a>
      <div class="emailerror" ng-if='emailerror'>
        <i class="fa fa-exclamation"></i>
        <p>
          {{translation.mf_emailerror}}
        </p>
      </div>
    </div>
  <!-- <div class="educationblock">
    <label for="education">
      {{translation.mf_education}}<span class="important">*</span>
    </label>
    <input
      type="text"
      name="education"
      id="education"
      placeholder="{{translation.mf_education_pl}}"
      data-ng-change='setIteminLS("education", student.education)'
      data-ng-model="student.education"
      data-ng-pattern="addressPattern"
      data-ng-class="{ 'has-error' : mainForm.education.$invalid && submitted }"
      required>
      <input
        type="number"
        data-ng-model='student.educationyear'
        name="educationyear"
        id='educationyear'
        min="1900"
        max="2025"
        data-ng-change='setIteminLS("educationyear", student.educationyear)'
        step="1"
        data-ng-class="{ 'has-error' : mainForm.educationyear.$invalid && submitted }"
        placeholder="2015"
        required>
  </div> -->
  <label for="english" class="inline-block">{{translation.mf_english_level}}<span class="important">*</span></label>
  <select
    required
    class="inline-block needsclick"
    data-ng-model='student.english'
    name="english"
    id="english"
    data-ng-change='setIteminLS("english", student.english)'
    data-ng-class="{ 'has-error' : mainForm.english.$invalid && submitted }"
    required>
    <option disabled selected></option>
    <option value="My name is Вова">My name is Вова</option>
    <option value="Reading skills are good">Reading skills are good</option>
    <option value="English? No problem!">English? No problem!</option>
  </select>
<br>
  <label class="inline-block" for="lessontime" class='portlabel'>{{translation.mf_lessontime}}<span class="important">*</span></label>
    <select
      class="inline-block needsclick"
      data-ng-model='student.lessontime'
      data-ng-change='setIteminLS("lessontime", student.lessontime)'
      data-ng-class="{ 'has-error' : mainForm.lessonTime.$invalid && submitted }"
      name="lessonTime"
      id="lessonTime"
      required>
      <option disabled selected></option>
      <option value="утром">{{translation.mf_lessontime_morning}}</option>
      <option value="в обед">{{translation.mf_lessontime_afternoon}}</option>
      <option value="вечером">{{translation.mf_lessontime_evening}}</option>
    </select>

  <label class="inline-block" class='portlabel' for="hours">{{translation.mf_hours}}<span class="important">*</span></label>
  <select
    class="inline-block needsclick"
    data-ng-model='student.hours'
    data-ng-change='setIteminLS("hours", student.hours)'
    data-ng-class="{ 'has-error' : mainForm.hours.$invalid && submitted }"
    name="hours"
    id="hours"
    required>
    <option disabled selected></option>
    <option value="0-10">0-5</option>
    <option value="5-10">5-10</option>
    <option value="10-15">10-15</option>
    <option value="15-20">15-20</option>
    <option value="20+">20+</option>
  </select>
    <label for="portfolio" class='portlabel'>
      {{translation.mf_portfolio}}<span class="important"></span>
    </label>
    <textarea
        rows="5"
        name="portfolio"
        id="portfolio"
        data-ng-change='setIteminLS("portfolio", student.portfolio)'
        placeholder="{{translation.mf_portfolio_pl}}"
        data-ng-model="student.portfolio"
        data-ng-pattern="portfolioPattern"
        data-ng-class="{ 'has-error' : mainForm.portfolio.$invalid && submitted }"></textarea>

    <label for="about">{{translation.mf_about}}<span class="important">*</span></label>
    <textarea
      required=""
      rows="5"
      name="about"
      id="about"
      required
      placeholder="{{translation.mf_about_ph}}"
      data-ng-model="student.about"
      data-ng-pattern="portfolioPattern"
      data-ng-change='setIteminLS("about", student.about)'
      data-ng-class="{ 'has-error' : mainForm.about.$invalid && submitted }"></textarea>
      <div accesskey="" data-nv-file-drop="" data-uploader="uploader" class="addImg">
        <div data-ng-show="uploader.isHTML5">
          <div  data-ng-class="{ 'has-error' : uploader.queue[0] === undefined && submitted }" class="over-zone zone" data-nv-file-over="" data-uploader="uploader">
            <p data-ng-bind-html="translation.lf_p7"></p>
          </div>
        </div>
        <div class="upload-container">
          <input id="fileinp" type="file" data-nv-file-select="" data-uploader="uploader" />
          <ul>
            <li data-ng-repeat="item in uploader.queue">
              <div data-ng-if="controller.isImage(item._file)">
                <div data-ng-thumb="{ file: item._file, height: 100 }" style="overflow:hidden">

                </div>
              </div>
              <div>{{ item.file.name }}</div>
              <div class="load-but" style="margin-top: 20px;">
                <button data-ng-click="item.remove()" id="cancelImg">
                  <i class="fa fa-trash-o"></i>&nbsp;{{translation.remove}}
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="load-but" data-ng-hide="uploader.queue.length > 0">
        <label class="file_upload">
          <span class="button">{{translation.lf_choose}}</span>
          <input type="file" nv-file-select="" uploader="uploader" />
        </label>
      </div>
    <div class="check">
      <label class='checklabel' for="general">{{translation.mf_subscription}}</label>
      <label class="inline-label" for="general">
        <input class='list' value='1367ac683b' id='general' type="checkbox">
        <span class="inline-span">{{translation.mf_subscription_general}}</span>
      </label>
    </div>

    <label id='agreelabel' for="agreement" data-ng-class="{ 'has-error' : mainForm.agreement.$invalid && submitted }">
      <input type="checkbox" data-ng-model='agreement' name='agreement' id='agreement' value="agree" required>
      {{translation.mf_agreement_1}} <a id='faqlink' href='courses#faq' target='_blank'>{{translation.mf_faq}}</a> {{translation.mf_agreement_2}}<span class="important">*</span>
    </label>
    <input data-ng-disabled='emailerror' data-ng-class='{"disabled" : emailerror}' type="submit" value="{{translation.mf_submit}}" data-ng-click="submitted=true">
  </form>
</div>
