<div data-infinite-scroll='news.nextPage(selectedLanguage, cutContent)' data-infinite-scroll-disabled='news.busy' data-infinite-scroll-immediate-check="true">
  <div class="news-container container" data-ng-repeat="(newsIndex,news) in news.items">
  <div class='news-row row{{newsIndex}}' id='{{news.id}}'>
    <div class='news-content'>
      <h2>
        <div data-ng-bind-html="news.title">
          <!-- news.title -->
        </div>
        <span class="news-data" data-ng-bind-html="dateView(news.data)">
           <!--news.date -->
        </span>
      </h2>
      <div class='content' data-ng-bind-html="news.content">
        <!-- news.content -->
      </div>
    </div>
    <div class="news-more" data-ng-click="showMore($index);">
      <i class="more-icon"></i><span>{{translation.details}}</span>
    </div>
    <div class="news-close" data-ng-click="closeMore($index);">
      <i class="more-icon-close"></i><span>{{translation.turn_aside}}</span>
    </div>
    <div class="news-slider" data-ng-if="news.photo" data-news-slider data-check="{{news.photo}}">
      <!-- <div class="item" data-ng-if="newsIndex<2" data-ng-repeat="item in news.photo">
        <img data-ng-src="backend/uploads/{{item}}">
      </div>
      <div class="item" data-ng-if="newsIndex>=2" data-ng-repeat="item in news.photo">
        <img data-lazy="backend/uploads/{{item}}" style="height:25px;" onload="this.style.height='auto'">
      </div> -->
      <div class="item" data-ng-repeat="(itemIndex,item) in news.photo">
        <img data-ng-if="itemIndex<2" data-ng-src="backend/uploads/{{item}}">
        <img data-ng-if="itemIndex>=2" data-lazy="backend/uploads/{{item}}" style="height:0;" onload="this.style.height='auto'">
      </div>
    </div>
    <div class="news-slider news-video" data-ng-if="news.video">
      <iframe width="560" height="315" data-ng-src="{{ trustAsResourceUrl(news.video)}}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div id="builder" style="display:none;"></div>
</div>
