<div class="green-submenu">
    <div class="green-submenu-bg"></div>
    <div class="green-submenu-item">
        <a href="#hardware" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="hard"></i>
            <span class="green-submenu-link__description" data-ng-bind-html="translation.potential_hardware2"></span>
        </a>
    </div>

    <div class="green-submenu-item">
        <a href="#software" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="soft"></i>
            <span class="green-submenu-link__description" data-ng-bind-html="translation.potential_software"></span>
        </a>
    </div>

    <div class="green-submenu-item">
        <a href="#library" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="lib"></i>
            <span class="green-submenu-link__description" data-ng-bind-html="translation.potential_library2"></span>
        </a>
    </div>

    <div class="green-submenu-item">
        <a href="#teachers" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="teach"></i>
            <span class="green-submenu-link__description" data-ng-bind-html="translation.potential_teachers"></span>
        </a>
    </div>

    <div class="green-submenu-item">
        <a href="#plans" data-du-smooth-scroll class="green-submenu-link thin">
            <i class="green-submenu-icon" id="plan"></i>
            <span class="green-submenu-link__description" data-ng-bind-html="translation.potential_plans2"></span>
        </a>
    </div>
    <div class="green-submenu-overlay"></div>
</div>
<i class="potential-bgr"></i>
<img src="img/poly1920_pre.png" alt="preload" style="display:none;">
<img src="img/poly1366_pre.png" alt="preload" style="display:none;">
<img src="img/poly1024_pre.png" alt="preload" style="display:none;">
<img src="img/poly900_pre.png" alt="preload" style="display:none;">
<div class="potential-slider" data-potential-slider>
    <div class="item first-slide-potential">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/startup.png" alt="Startup weekend">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli1_h"></h3>
                <p data-ng-bind-html="translation.poten_sli1_p"></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/arduino.png" alt="Arduino">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli2_h"></h3>
                <p data-ng-bind-html="translation.poten_sli2_p1"></p>
                <p data-ng-bind-html="translation.poten_sli2_p2"></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/teachers.png" alt="network">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli3_h"></h3>
                <p data-ng-bind-html="translation.poten_sli3_p1"></p>
                <p data-ng-bind-html="translation.poten_sli3_p2"></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/rasberry.png" alt="rasberry">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli4_h"></h3>
                <p data-ng-bind-html="translation.poten_sli4_p1"></p>
                <p data-ng-bind-html="translation.poten_sli4_p2"></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/wacom.png" alt="wacom">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli5_h"></h3>
                <p data-ng-bind-html="translation.poten_sli5_p1"></p>
                <p data-ng-bind-html="translation.poten_sli5_p2"></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/leap.png" alt="Leap Motion">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli6_h"></h3>
                <p data-ng-bind-html="translation.poten_sli6_p1"></p>
                <p data-ng-bind-html="translation.poten_sli6_p2"></p>
            </div>
        </div>
    </div>
    <div class="item last-slide-potential">
        <div class="potential-slider-content">
            <div class="sl-img">
                <img src="img/potential-slider/firefoxos.png" alt="FirefoxOS">
            </div>
            <div class="sl-text">
                <h3 data-ng-bind-html="translation.poten_sli7_h"></h3>
                <p data-ng-bind-html="translation.poten_sli7_p"></p>
            </div>
        </div>
    </div>
</div>
<div class="potential-title">
    <h2 class="container">
        {{translation.poten_h}}
    </h2>
</div>
<div class="container">
    <div class="potential-item" id="hardware">
        <div class="item-description">
            <div class="item-title">
                <div class="item-number">1</div>
                <div class="item-text">{{translation.poten1_div}}</div>
            </div>
            <div class="hardware-content">
                <p data-ng-bind-html="translation.poten1_p1"></p>
                <p data-ng-bind-html="translation.poten1_p2"></p>
                <p data-ng-bind-html="translation.poten1_p3"></p>
                <p data-ng-bind-html="translation.poten1_p4"></p>
            </div>
        </div>
        <div class="pot-more more-left">
            <i class="more-icon"></i><span>{{translation.details}}</span>
        </div>
        <div class="pot-close close-left">
            <i class="more-icon-close"></i><span>{{translation.turn_aside}}</span>
        </div>
        <div class="item-img">
            <div class="item">
                <img src="img/main-slider/second1025.jpg" alt="hardware">
            </div>
        </div>
    </div>
    <div class="potential-item" id="software">
        <div class="item-img">
            <div class="item">
                <img src="img/sware.jpg" alt="software">
            </div>
        </div>
        <div class="pot-more more-right">
            <i class="more-icon"></i><span>{{translation.details}}</span>
        </div>
        <div class="pot-close close-right">
            <i class="more-icon-close"></i><span>{{translation.turn_aside}}</span>
        </div>
        <div class="item-description">
            <div class="item-title">
                <div class="item-number">2</div>
                <div class="item-text">{{translation.poten2_div}}</div>
            </div>
            <div class="hardware-content">
                <p data-ng-bind-html="translation.poten2_p1"></p>
                <p data-ng-bind-html="translation.poten2_p2"></p>
                <p data-ng-bind-html="translation.poten2_p3"></p>
                <p data-ng-bind-html="translation.poten2_p4"></p>
                <p data-ng-bind-html="translation.poten2_p5"></p>
                <p data-ng-bind-html="translation.poten2_p6"></p>
                <p data-ng-bind-html="translation.poten2_p7"></p>
            </div>
        </div>
    </div>
    <div class="potential-item" id="library">
        <div class="item-description">
            <div class="item-title">
                <div class="item-number">3</div>
                <div class="item-text">{{translation.potential_library2}}</div>
            </div>
            <div class="hardware-content">
                <p data-ng-bind-html="translation.poten3_p1"></p>
                <p data-ng-bind-html="translation.poten3_p2"></p>
            </div>
        </div>
        <div class="pot-more more-left">
            <i class="more-icon"></i><span>{{translation.details}}</span>
        </div>
        <div class="pot-close close-left">
            <i class="more-icon-close"></i><span>{{translation.turn_aside}}</span>
        </div>
        <div class="item-img">
            <div class="item">
                <img src="img/lib.jpg" alt="library">
            </div>
        </div>
    </div>
    <div class="potential-item" id="teachers">
        <div class="item-img">
            <div class="item">
                <img src="img/teachers.jpg" alt="teachers">
            </div>
        </div>
        <div class="pot-more more-right">
            <i class="more-icon"></i><span>{{translation.details}}</span>
        </div>
        <div class="pot-close close-right">
            <i class="more-icon-close"></i><span>{{translation.turn_aside}}</span>
        </div>
        <div class="item-description">
            <div class="item-title">
                <div class="item-number">4</div>
                <div class="item-text">{{translation.potential_teachers}}</div>
            </div>
            <div class="hardware-content">
                <p data-ng-bind-html="translation.poten4_p1"></p>
                <p data-ng-bind-html="translation.poten4_p2"></p>
                <p data-ng-bind-html="translation.poten4_p3"></p>
            </div>
        </div>
    </div>
</div>
<div id="plans" class="container">
    <div class="plans-text">
        <h2 data-ng-bind-html="translation.poten_h2"></h2>
        <ul>
            <li>
                {{translation.poten_li1}}
            </li>
            <li>
                {{translation.poten_li2}}
            </li>
            <li>
                {{translation.poten_li3}}
            </li>
            <li>
                {{translation.poten_li4}}
            </li>
            <li>
                {{translation.poten_li5}}
            </li>
            <li>
                {{translation.poten_li6}}
            </li>
            <li>
                {{translation.poten_li7}}
            </li>
        </ul>
    </div>
    <div class="plans-photo">
        <img src="img/plan.jpg" alt="new school">
    </div>
</div>