<div class="white">
    <div class="support__container">
        <div class="support__container">
            <div data-ng-bind-html="translation.five_years_ago"></div>
            <div data-ng-bind-html="translation.three_years_ago"></div>
            <div data-ng-bind-html="translation.year_ago"></div>
            <br/>
            <div>{{translation.we_grew_up}}</div>
            <div>{{translation.new_plans}}</div>
        </div>
        <div class="support__container">
            <div>{{translation.we_need_your_help}}</div>
            <div data-ng-bind-html="translation.why_we_deserve" id="why-help"></div>
            <br>
            <div data-ng-bind-html="translation.why_we_deserve_detail" id="detailed"></div>
        </div>
        <div class="flex">
            <div class="support__help-type yellow">
                <h3 class="support__help-type--header uppercase center">{{translation.help_with_deeds}}</h3>
                <p>{{translation.need_volunteers}}</p>
                <p>{{translation.we_are_harmful}}</p>
                <p data-ng-bind-html="translation.needs_here"></p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfLuDDN2pLupuA8R1QmSNM7ED45DQI-OR0cdeDWp6DCXRuTQw/viewform" target="_blank"><button class="support__help-type--button yellow" >{{translation.offer_your_services}}</button></a>
                <p>{{translation.thanks_inspiration}}</p>
            </div>
            <div class="support__help-type green">
                <h3 class="support__help-type--header uppercase center">{{translation.help_with_money}}</h3>
                <p data-ng-bind-html="translation.rental_premises"></p>
                <p data-ng-bind-html="translation.fairy_tales"></p>
                <p>{{translation.created_service}}</p>
                <a href="http://bugs.shpp.me" target="_blank"><button class="support__help-type--button green">bugs.shpp.me</button></a>
                <p>{{translation.buy_bug}}</p>
            </div>
            <div class="support__help-type blue">
                <h3 class="support__help-type--header uppercase center">{{translation.help_with_equipment}}</h3>
                <p>{{translation.want_more_equip}}</p>
                <p data-ng-bind-html="translation.equip_needs_here"></p>
                <p data-ng-bind-html="translation.write_to_info"></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#detailed').hide();
        $("body").on("click", 'a[href*="supportus#detailed"]', function (e) {
            if (!$('#detailed').hasClass("open")) {
                $('#detailed').slideDown().addClass("open");
                $('#why-help').hide();
                if(!location.href.includes('detailed'))
                    parent.location.hash = '#detailed';
            }
            e.preventDefault();
        });
        setTimeout(function(){
            if(location.href.includes('detailed'))
                $('a[href*="supportus#detailed"]').click();
        }, 800);




    });
</script>